
<app-breadcrumb *ngIf="!loadSave"  [data]="contentHeader"></app-breadcrumb>
<!-- <div class="header float-left w-100 mb-2 d-flex">
  <div class="col-md-6 pl-0">
    <h2 class="float-left pr-2 w-100"><strong>Manage Call Log Detail</strong></h2>
    <div class="breadcrumb-wrapper w-100">
      <ol class="breadcrumb">
        <li>
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="active">Manage Call Log Detail</li>
      </ol>
    </div>
  </div>
  <div class="col-md-6 text-right right pr-0">
    <a href="javascript:;" class="btn btn-primary"  data-toggle="modal" data-target="#headerswtichuser"><i class="fa fa-sign-in mr-1"></i>Switch Company</a>
  </div>
</div> -->
<div class="clearfix"></div>

<div class="row">
  <div class="col-lg-12 portlets">
    <div class="panel" [ngClass]="{'disabled':loadSave}">
      <div class="panel-header border-bottom pb-3 btn-iconres">
        <div class="row my-2">
          <div class="col-md-12 col-xl-12">
            <div class="row searchfield">
              <div class="col-lg-12">
                <div class="row report-calendar">
                  <div class="col-lg-3 float-left  mb-3">
                    <ng-select #userTypeSelect [items]="lstAccountList"
                               placeholder="Select Accounts" bindValue="value" bindLabel="text"
                               [closeOnSelect]="true" [(ngModel)]="accountId"
                               (scrollToEnd)="onScrollToEnd(lstAccountList,'NestReposrt_Account')" [virtualScroll]="true" (keyup)="onKey($event,lstAccountList,'NestReposrt_Account')"
                               (clear)="restAccountddl()">
                    </ng-select>
                  </div>

                  <div class="col-lg-3 float-left  mb-3 pl-3 pl-lg-0">
                    <ng-select #userTypeSelectContact [items]="lstContactList"
                               placeholder="Select Contact" bindValue="value" bindLabel="text"
                               [closeOnSelect]="true" [(ngModel)]="contactId"
                               (scrollToEnd)="onScrollToEndContact(lstContactList,'CallLogContact')" [virtualScroll]="true"
                               (keyup)="onKeyContact($event,lstContactList,'CallLogContact')"
                               (clear)="restContactddl()">
                    </ng-select>
                  </div>

                  <div class="col-lg-3 float-left mb-3 pl-3 pl-lg-0">
                    <ng-select #userTypeSelectVendor [items]="VendorList"
                               placeholder="Select Vendor" bindValue="value" bindLabel="text"
                               [closeOnSelect]="true" [(ngModel)]="vendor" (clear)="restVendorddl()">
                    </ng-select>
                  </div>
                  <div class="col-lg-3 float-left mb-3 pl-3 pl-lg-0">
                    <ng-select #userTypeSelectRecaoding [items]="lstRecoading"
                               placeholder="Select Has Recording" bindValue="value" bindLabel="text"
                               [closeOnSelect]="true" [(ngModel)]="hasRecaoding" (clear)="restRecoadingddl()">
                    </ng-select>
                  </div>
                  <div class="col-lg-3 float-left mb-3">
                    <input class="form-control input-sm" type="text" [(ngModel)]='fromNumber' placeholder="From Number"
                           (keyup)='searchFromNumber($event)'>
                  </div>
                  <div class="col-lg-3 float-left mb-3 pl-3 pl-lg-0">
                    <input class="form-control input-sm" type="text" [(ngModel)]='ToNumber' placeholder="To Number" (keyup)='searchToNumber($event)'>
                  </div>
                  <div class="col-lg-3 float-left mb-3 pl-3 pl-lg-0">
                    <div class="form-group mb-0">
                      <p-calendar inputStyleClass="form-control start-date" placeholder="From Date"
                                  [(ngModel)]="From" [maxDate]="To" [readonlyInput]="true" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                    </div>
                  </div>
                  <div class="col-lg-3 float-left mb-3 pl-3 pl-lg-0">
                    <div class="form-group mb-0">
                      <p-calendar inputStyleClass="form-control start-date" placeholder="To Date" [(ngModel)]="To" [minDate]="From" [readonlyInput]="true" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                    </div>
                  </div>

                  <div class="col-lg-3 float-left mb-lg-0 mb-2 pt-2">
                    <div class="form-group  mb-0">
                      <a class="btn btn-dark form-btns mr-2" href="javascript:void(0);" (click)="SearchCallLogDetail()" tooltip="Search"><span><i class="feather-search pr-1"></i>Search </span></a>
                      <a class="btn btn-white form-btns mr-1" href="javascript:void(0);" (click)="reset()" tooltip="Reset"><span><i class="feather-repeat pr-1"></i> Reset</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--<div class="col-md-12 mt-4 mb-2">
        <div class="w-100 mt-2 mb-0" *ngIf="lstCallLog.data.length>0">
          <span class="float-right" *ngIf="lstCallLog.data.length>0">-->
            <!--<small class="pt-1 pr-1 h6 font-weight-normal">Download As: </small>-->
            <!--<a href="javascript:void(0);" (click)="ExportTOExcel()" title="Download Excel" class=" btn btn-success mr-1" style="background:#1D6F42; border-color:#1D6F42;" tooltip="Download Excel"><i class="fa fa-file-excel-o"></i></a>
            <a href="javascript:void(0);"  (click)="generatePdf()" title="Download Pdf" class=" btn btn-danger mr-1" style="background:#c0392b; border-color:#c0392b;" tooltip="Download Pdf"><i class="fa fa-file-pdf-o"></i> </a>

          
          </span>
        </div>
      </div>-->
      <div class="clearfix"></div>
      <div class="panel-content px-3 pagination2 table-responsive no-padding" [ngClass]="{'disabled':loadSave}">
        <div class="header-chart mb-1">Call Log Detail
        <span class="float-right" *ngIf="lstCallLog.data.length>0">
  <!--<small class="pt-1 pr-1 h6 font-weight-normal">Download As: </small>-->
  <a href="javascript:void(0);" (click)="ExportTOExcel()" title="Download Excel" class=" btn btn-success mr-1" style="background:#1D6F42; border-color:#1D6F42;" tooltip="Download Excel"><i class="fa fa-file-excel-o"></i></a>
  <a href="javascript:void(0);" (click)="generatePdf()" title="Download Pdf" class=" btn btn-danger mr-1" style="background:#c0392b; border-color:#c0392b;" tooltip="Download Pdf"><i class="fa fa-file-pdf-o"></i> </a>


</span></div>
        <ngx-datatable #table class="bootstrap table table-hover table-dynamic"
                       [rows]="lstCallLog.data"
                       [scrollbarH]="true"
                       [rowHeight]="'40'"
                       [columnMode]="'force'"
                       [headerHeight]="40"
                       [footerHeight]="40"
                       [externalPaging]="true"
                       [externalSorting]="true"
                       [loadingIndicator]="loadSave"
                       [count]="lstCallLog.pager.totalItems"
                       [offset]="lstCallLog.pager.currentPage"
                       [limit]="lstCallLog.pager.pageSize"
                       (page)='setCallLogPageNo($event)'
                       (sort)="onCallLogSort($event)">
          <ngx-datatable-column name="Account Name" prop="accountName" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div *ngIf="row.accountName!='' && row.accountName!=null && row.accountId!='' && row.accountId!=null">
                <a class=" view-list" [routerLink]="['/accountslist/view',row.accountId]" href="javascript:void(0);" [title]="row.accountName">{{row.accountName}}</a>
              </div>
              <div *ngIf="(row.accountName=='' || row.accountName==null) && (row.accountId=='' || row.accountId==null)">
                <span>-</span>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Contact Name" prop="contactName" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div *ngIf="row.contactName!='' && row.contactName!=null && row.contactId!='' && row.contactId!=null">
                <a class=" view-list" [routerLink]="['/contactlist/view',row.contactId]" href="javascript:void(0);" [title]="row.contactName">{{row.contactName}}</a>
              </div>
              <div *ngIf="(row.contactName=='' || row.contactName==null) && (row.contactId=='' || row.contactId==null)">
                <span>-</span>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="From Name" prop="FromName" [sortable]="true"></ngx-datatable-column>
          <ngx-datatable-column name="Play / Download" prop="Action" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="text-left" *ngIf="row.fileUrl!=null && row.fileUrl!=''">
                <a (click)="ClickToPlay(row)" href="javascript:void(0)"><i title="Click to play Audio." class="fa fa-file-audio-o" style="font-size:24px"></i></a>&nbsp;&nbsp;&nbsp;
              </div>
              <div class="text-left" *ngIf="row.fileUrl==null || row.fileUrl==''">
                <div *ngIf="row.PrivateRecordingFilePath==null || row.PrivateRecordingFilePath==''">
                  <a href="javascript:void(0)" class="disabled">
                    <i class="fa fa-download text-secondary" style="font-size:24px"></i>
                  </a>&nbsp;&nbsp;&nbsp;
                </div>
                <div *ngIf="row.PrivateRecordingFilePath!=null && row.PrivateRecordingFilePath!=''">
                  <a href="javascript:void(0)" (click)="downloadFileSharePoint(row.PrivateRecordingFilePath)">
                    <i title="Click to download."
                       class="fa fa-download text-primary" style="font-size:24px"></i>
                  </a>&nbsp;&nbsp;&nbsp;
                </div>

              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Vendor" prop="Vendor" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div *ngIf="row.Vendor=='Twilio'">
                <span>Twilio</span>
              </div>
              <div *ngIf="row.Vendor!='Twilio'">
                <span>Ring Central</span>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Result" prop="Result" [sortable]="true"></ngx-datatable-column>
          <ngx-datatable-column name="To Phone Number" prop="ToPhoneNumber" [sortable]="true"></ngx-datatable-column>
          <ngx-datatable-column name="From Phone Number" prop="FromPhoneNumber" [sortable]="true"> </ngx-datatable-column>
          <ngx-datatable-column name="Start Time" prop="StartTime" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.StartTime |utcdatetimetolocal}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Duration(Sec)" prop="Duration" [sortable]="true"></ngx-datatable-column>
          <ngx-datatable-column name="Call Type" prop="CallType" [sortable]="true"></ngx-datatable-column>
          <ngx-datatable-column name="Direction" prop="Direction" [sortable]="true">
          </ngx-datatable-column>

          <ngx-datatable-column name="Action" prop="Action" [sortable]="true">
          </ngx-datatable-column>
          <ngx-datatable-column name="Location" prop="Location" [sortable]="true">
          </ngx-datatable-column>
          <ngx-datatable-column name="From Extension Id" prop="FromExtensionId" [sortable]="true">
          </ngx-datatable-column>
          <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template
                         let-rowCount="rowCount"
                         let-pageSize="lstCoomunication.pager.pageSize"
                         let-selectedCount="selectedCount"
                         let-currentPage="lstCoomunication.pager.currentPage"
                         let-offset="offset"
                         let-isVisible="isVisible">
              <div class="responsive-paging d-lg-flex w-100 flex-nowrap my-3">
                <div>
                  <div style="color:black; margin-right:10px;" class="page-size-record" *ngIf='(rowCount  > 0)'>
                    <span style="text-align:right; width:80px;vertical-align: middle;">
                      <ng-select [searchable]="false" [items]="lstPageSize" appendTo="body" [(ngModel)]='pageSizeValueData' dropzone="fixed" [clearable]="false" (change)="onChange($event)" draggable="false" [closeOnSelect]="true"
                                 bindLabel="text" bindValue="text"></ng-select>
                    </span>
                  </div>
                </div>
                <div class="page-count" *ngIf='(rowCount  > 0)'>
                  {{commonService.PageString(pageSizeValue,lstCallLog.pager.pageSize,rowCount)}}
                </div>

                <datatable-pager [pagerLeftArrowIcon]="'feather-chevron-left'"
                                 [pagerRightArrowIcon]="'feather-chevron-right'"
                                 [pagerPreviousIcon]="'feather-chevrons-left'"
                                 [pagerNextIcon]="'feather-chevrons-right'"
                                 [page]="pageSizeValue"
                                 [size]="lstCallLog.pager.pageSize"
                                 [count]="lstCallLog.pager.totalItems"
                                 [hidden]="!((rowCount / lstCallLog.pager.pageSize) > 1)"
                                 (change)="setCallLogPageNo($event)">
                </datatable-pager>
              </div>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
      </div>
    </div>
  </div>

  <app-loader [size]=60 [color]="'white'" *ngIf="loadSave" class="loader-popup"></app-loader>
</div>



<!--<div bsModal #audioModel="bs-modal" [config]="{backdrop: 'static'}" style=" background: none !important;" class="modal fade announcement-pop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->

  <div bsModal #audioModel="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="height:450px!important;width:100%!important; ">
      <div class="modal-content" style="z-index:1; height:auto;">
        <div class="modal-header">
          <h4 class="modal-title">{{modalTitle}}</h4>
          <button type="button" (click)="CloseAudio()" class="close" data-dismiss="modal" aria-label="Close" style="padding: 13px 17px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="overflow-y: visible; overflow-x: visible;">
          <ng-container *ngIf="isAudio; else elseblock">
            <div class="text-center position-relative aud-cen">
              <audio controls controlsList="nodownload" [src]="audioSrc" href="audioSrc" type="audio/ogg" style="width:100%!important">
                Browser not supported
              </audio>
              <iframe [src]="audioSrc" width="100%" height="100%" frameBorder="0"></iframe>
            </div>
          </ng-container>


        </div>

      </div>
      <app-loader [size]=60 [color]="'white'" *ngIf="loadSave" class="loader-popup"></app-loader>
    </div>

  </div>
