<div class="page">
  <!-- Breadcrumb-->
  <div class="breadcrumb-holder">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 mt-3" *ngIf="!isCustomer">
          <span class="dash">Manage Proposal Requests</span>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/lease-request">Manage Proposal Requests</a></li>
            <li class="breadcrumb-item active">{{pageTitle}}</li>
          </ul>
        </div>
        <div class="col-md-9 mt-3" *ngIf="isCustomer">
          <span class="dash">Proposal Requests</span>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/lease-request">Proposal Requests</a></li>
            <li class="breadcrumb-item active">{{pageTitle}}</li>
          </ul>
        </div>

        <div class="col-md-3 text-right mt-4">
          <button class="w-auto sw-100 btn btn-dark" (click)="cancelForm()"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Section-->
  <section class="dashboard-header section-padding">
    <div class="container-fluid">
      <div class="lease-box">
        <div class="row d-flex align-items-md-stretch">
          <div class="col-12">
            <div class="bg-white border rounded pb-4">

              <form [formGroup]="leaserequestForm">
                <div class="col-md-12 mt-4">
                  <div class="panel-group accordian" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default mb-2">
                      <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title mb-0">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            BUSINESS INFORMATION
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body bg-light p-3">
                          <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                              <label>Business Name:</label>
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="contactBussinessName" maxlength="500" disabled>
                              </div>
                            </div>
                            <!--<div class="col-12 col-md-6 col-lg-4">
    <label>Business Tin:</label>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="contactBussinessTIN" maxlength="200" disabled>
    </div>
  </div>-->
                            <div class="col-12 col-md-6 col-lg-4">
                              <label>Business Tin:</label>
                              <div class="form-group">
                                <p-inputMask styleClass="form-control" mask="99-9999999" formControlName="contactBussinessTIN" placeholder="__-_______" disabled="true">
                                </p-inputMask>
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <label>Type of Company:</label>
                              <div class="form-group">
                                <ng-select [items]="lstcompanyType"
                                           placeholder="Select Company Type" bindValue="value" bindLabel="text" formControlName="contactTypeOfCompany" [loading]="isLoading">
                                </ng-select>
                              </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                              <label>Business Phone:</label>
                              <div class="form-group">
                                <p-inputMask styleClass="form-control" mask="(999) 999-9999" formControlName="bussinessPhone" disabled="true" placeholder="(___) ___-____"></p-inputMask>
                              </div>
                            </div>

                            <!--<div class="col-12 col-md-6 col-lg-4">
    <label>Business Phone:<span class="text-danger">*</span></label>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="bussinessPhone" maxlength="100" disabled>
    </div>
  </div>-->
                            <div class="col-12 col-md-12 col-lg-12">
                              <label class="m-label-s">CONTACT DETAIL:</label>
                              <hr size="4" class="mt-0 border-secondary">
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                              <label>Contact Phone:</label>
                              <div class="form-group">
                                <p-inputMask styleClass="form-control" mask="(999) 999-9999" formControlName="contactBussinessPhone" disabled="true" placeholder="(___) ___-____"></p-inputMask>
                              </div>
                            </div>

                            <!--<div class="col-12 col-md-6 col-lg-4">
                              <label>Contact Phone:</label>
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="contactBussinessPhone" maxlength="100" disabled>

                              </div>
                            </div>-->
                            <div class="col-12 col-md-6 col-lg-4">
                              <label>Contact First Name:</label>
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="contactFirstName" maxlength="100" disabled>

                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <label>Contact Last Name:</label>
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="contactLastName" maxlength="100" disabled>
                              </div>
                            </div>


                            <div class="col-12 col-md-6 col-lg-4">
                              <label>Contact Position:</label>
                              <div class="form-group">
                                <ng-select [items]="lstcontactPosition"
                                           placeholder="Select Contact Position" bindValue="value" bindLabel="text" formControlName="contactPosition" [loading]="isLoading">
                                </ng-select>
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <label>Contact Email:</label>
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="contactEmail" maxlength="200" disabled>
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <label>Social Security#:</label>
                              <div class="form-group">
                                <p-inputMask styleClass="form-control" mask="999-99-9999" [disabled]="isDisabled" formControlName="contactSocialSecurityNumber" placeholder="___-__-____"></p-inputMask>
                              </div>
                            </div>

                            <div class="col-12 col-md-12 col-lg-12">
                              <label class="m-label-s">Business Mailing Address:</label>
                              <hr size="4" class="mt-0 border-secondary">
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                              <label>Mailing Address</label>
                              <div class="form-group">
                                <textarea class="form-control" formControlName="contactBussinessMailAddress" maxlength="1000" disabled></textarea>

                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <label>City:</label>
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="contactMailAddressCity" maxlength="200" disabled>

                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <label>County:</label>
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="contactMailAddressCounty" maxlength="500" disabled>

                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <label>State:</label>
                              <div class="form-group">
                                <ng-select [items]="lstStates"
                                           placeholder="Select State" bindValue="value" bindLabel="text" formControlName="contactMailAddressState">
                                </ng-select>
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <label>Zip:</label>
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="contactMailAddressZip" maxlength="50" disabled>

                              </div>
                            </div>


                            <div class="col-12 col-md-12 col-lg-12">
                              <label class="m-label-s">Business Physical Address:</label>
                              <hr size="4" class="mt-0 border-secondary">
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="custom-checkbox">
                                <label class="mr-3">Physical Address</label>
                              </div>
                              <div class="form-group">
                                <textarea class="form-control" formControlName="contactBussinessPhysicalAddress" maxlength="1000" disabled></textarea>

                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <label>City:</label>
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="contactPhysicalAddressCity" maxlength="200" disabled>

                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <label>County:</label>
                              <div class="form-group">
                                <input value="" class="form-control" type="text" placeholder="" formControlName="contactPhysicalAddressCounty" maxlength="50" disabled>
                              </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                              <label>State:</label>
                              <div class="form-group">
                                <ng-select [items]="lstStates"
                                           placeholder="Select State" bindValue="value" bindLabel="text" formControlName="contactPhysicalAddressState" disabled>
                                </ng-select>
                              </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                              <label>Zip:</label>
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="contactPhysicalAddressZip" maxlength="50" disabled>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default mb-2">
                      <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title mb-0">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            GUARANTOR INFORMATION <!--<small class="ml-2 btn-orange p-2" onclick="location.href='#'"><i class="feather-plus mr-1 "></i> Add More</small>-->
                          </a>
                        </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div formArrayName="guarantors" class="panel-body bg-light p-3">
                          <div *ngFor="let guarantor of guarantors.controls; let i=index">
                            <div [formGroupName]="i" class="border p-3 mb-4 bg-white">
                              <guarantor [group]="leaserequestForm.controls.guarantors.controls[i]" [states]="lstStates" [isDisabled]="disabled"></guarantor>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default mb-2">
                      <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title mb-0">
                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            PROPOSAL INFORMATION
                          </a>
                        </h4>
                      </div>
                      <div id="collapseFour" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingFour">
                        <div formArrayName="leases" class="panel-body bg-light p-3">
                          <div *ngFor="let lease of leases.controls; let i=index">
                            <div [formGroupName]="i">
                              <leaserequestForm [group]="leaserequestForm.controls.leases.controls[i]">

                              </leaserequestForm>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div><!-- panel-group -->
                </div>
                <div class="col-md-12 pl-4">
                  <a href="javascript:void(0);" class="btn btn-primary form-btns" (click)="saveLeaseRequestDetails()" *ngIf="isCustomer && modulePermission.roleModuleUpdateFlag ">
                  <i class="feather-save"></i> Submit
                  </a>
                  <a href="javascript:void(0);" class="btn btn-danger form-btns" (click)="cancelForm()"><i class="fa fa-times"></i> Cancel</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <app-loader [size]=60 [color]="'white'" *ngIf="loadSave" class="loader"></app-loader>
</div>
