
  <div [formGroup]="targetForm">
   



    <div class="flow-container conditionbased" *ngIf="targetForm.get('isDecisionAdded').value">
      <div class="sh_square">
        <!--{{targetForm.value.targetDecision.displayCondition}}-->
        <span style="cursor:pointer;"  class="condition" > <a href="javascript:;" (click)="deletetarget()" title="Delete Decision" class="delete-square"><i _ngcontent-c11="" class="feather-trash-2 text-danger"></i></a> <a style="cursor:pointer; color: #2f4050;" href="javascript:;" (click)="editCondition()" title="Edit Decision">{{targetForm.value.targetDecision.displayCondition  | truncate}}</a> </span>

      </div>
      <span class="condition-false" style="color:#27a844;">Yes</span>
      <div class="add-flow inrow-right" *ngIf="isdecisionbutton">
        <i class="feather-plus"></i>
        <div class="add-action">
          <a href="javascript:;" (click)="AddScreen()" class="border-right"><span class="text-info"><i class="fa fa-clone text-info"></i></span>Add Screen</a>

          <a href="javascript:;" (click)="addresult()"> <span class="text-success"><i class="fa fa-code text-success"></i></span>Add Result</a>
        </div>

      </div>
      <!--<app-work-flow-condition #conditioncomponent [ruleEngineForm]="ruleEngineForm" [target]="target" [rowNo]="rowNo" (showbutton)="showbutton($event)" [typecondition]="false"></app-work-flow-condition>-->
      <app-work-flow-result #resultcomponent [ruleEngineForm]="ruleEngineForm" [target]="target" (showbutton)="showbutton($event)"></app-work-flow-result>
      <app-screen #screencomponent [ruleEngineForm]="ruleEngineForm" [target]="target" [rowNo]="rowNo" (showbutton)="showbutton($event)" [typescreen]="false" (stepdll)="stepdll($event)"></app-screen>
      <!--<ng-select *ngIf ="!isdecisionbutton" [items]="targetForm.get('ddlStepDropdown').value"
             placeholder="Select Module" bindLabel="name"  bindValue="Id"
             [closeOnSelect]="true">
  </ng-select>-->

    </div>
    <!-- Modal -->
    <div class="modal fade " bsModal #addConditionModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add Decision</h5>
            <button type="button" class="close" (click)="hideConditionModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="px-1" [ngClass]="{'col-md-12':hideFieldList,'col-md-9':!hideFieldList}">
                <div class="border">
                  <div class="list-group" style="min-height: 210px;" formArrayName="decisions">
                    <ul class="form-header">
                      <li> </li>
                      <li class="pl-2"> Section</li>
                      <li class="pl-2"> Field</li>
                      <li class="pl-2"> Conditional Operator</li>
                      <li class="pl-2"> Value</li>
                      <li> </li>
                      <li> </li>
                    </ul>
                    <div *ngFor="let condition of conditions.controls;let i=index" [formGroupName]="i">
                      <ul class="from-rules text-center" *ngIf="condition.get('relationWithParent').value">
                        <li class="text-center"><span class="or-and rounded-circle"><b>{{condition.get('relationWithParent').value}}</b></span></li>
                      </ul>
                      <ul class="from-rules">
                        <li class="form-group align-middle px-2">
                          <input formControlName="openingBrackets" style="width: auto;min-width: 20px;max-width: 20px;" class="form-control txtOpeningBrackets px-1">
                        </li>
                        <li class="form-group align-middle px-2">
                        <ng-select [items]="subModuleList" formControlName="subModuleId"
                                   placeholder="Select Module" bindLabel="sub_module_name" (change)="onSubModuleChange($event,condition)"
                                   [closeOnSelect]="true">
                        </ng-select>
                      </li>
                        <li class="form-group align-middle px-2">
                          <ng-select [items]="condition.get('fields')?.value" formControlName="fieldId"
                                     placeholder="Select Field" bindLabel="name" (change)="onFieldChange($event,condition,i)"
                                     [closeOnSelect]="true">

                          </ng-select>
                        </li>
                        <li class="form-group align-middle px-2">
                          <ng-select [items]="condition.get('operators').value" formControlName="operatorId"
                                     placeholder="Select Operator" bindLabel="operator_display_name"
                                     [closeOnSelect]="true">
                          </ng-select>
                        </li>

                        <li class="form-group align-middle px-2">
                          <app-flow-input [formGroup]="condition" [operator]="condition.get('operatorId').value" [from]="condition" [controlName]="'fieldValue'" [id]="i"></app-flow-input>
                          <app-flow-input [formGroup]="condition" [operator]="condition.get('operatorId').value" *ngIf="condition.get('operatorId').value && condition.get('operatorId').value.operator_expression =='between'" [from]="condition" [controlName]="'fieldSecondValue'" [id]="i"></app-flow-input>
                        </li>
                        <li class="form-group align-middle px-2">
                          <input type="text" class="form-control" formControlName="closingBrackets" style="width:30px;">
                        </li>
                        <li class="text-center">
                          <a *ngIf="i>0" href="javascript:void(0);" (click)="removeCondition(i)" class="text-red font-16">
                            <i class="feather-trash-2"></i>
                          </a>
                        </li>

                      </ul>

                    </div>
                  </div>
                  <div class="p-3 text-center">
                    <div class="cstm-drop-btn text-center">
                      <select #addNewCondition class="btn ddlupdatestatus btn-success" [disabled]="!conditions.valid" (change)="addDecision($event)">
                        <option selected="selected"> Add</option>
                        <option>Or</option>
                        <option>And</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="step-default p-3 border mt-2 rounded"><b>Decision:</b>{{targetForm.value.targetDecision.displayCondition}} <!--(Loan Application Equal To Sales Tax)--> </div>


              </div>
              <div [ngClass]="{'d-none':hideFieldList,'col-md-3':!hideFieldList}">
                <div class="border" style="max-height: 400px; overflow-y: auto; overflow-x: hidden;">
                  <table class="table table-hover table-dynamic table-cont">
                    <thead class="bg-light">
                      <tr>
                        <th>Field Name</th>
                        <th style="min-width:100px;">Data Type</th>

                      </tr>
                    </thead>
                    <tbody *ngIf="customFieldsList!=null">
                      <tr *ngFor="let item of customFieldsList">
                        <td>{{item.name}}</td>
                        <td>{{item.sql_type}}</td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="customFieldsList==null">
                      <tr style="margin-left:10px; display:table;">
                        No data found.
                      </tr>
                    </tbody>

                  </table>
                </div>

              </div>
            </div>
          </div>


          <div class="modal-footer">
            <button type="button" class="btn" [ngClass]="{'btn-outline-info':hideFieldList,'btn-info':!hideFieldList}" (click)="showFieldList()"><i class="fa fa-list-ol"></i> {{textFieldListButton}}</button>
            <button type="button" class="btn btn-success mr-1" data-dismiss="modal" (click)="saveDecision()" [disabled]="!conditions.valid"><i class="feather-save"></i> Save</button>
            <button type="button" class="btn btn-danger" (click)="hideConditionModal()"><i class="feather-x"></i> Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->


  </div>
