
 

<div bsModal #proposalmappingModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-info " [ngClass]="{'disabled':loadSave}">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{pageTitle}}</h4>
          <!-- <h4 class="modal-title">{{modeltitle}}</h4> -->
          <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style=" margin-bottom:10px; max-height:600px" >
          <form [formGroup]="form" *ngIf="form">
            <ng-container *ngFor="let item of formControlList;let i=index">
              <h3 class="form-heading" *ngIf="showgroup(item.InnerData)"> <span>{{ item.group_display_name}}</span></h3>
              <div class="row  mb-2">
      
      
                <ng-container *ngFor="let inner of item.InnerData;let j=index">
  
      
                  <div [ngClass]="{'col-sm-12 col-md-12 float-left': true, 'd-none' : (inner.form_field_visibility == 'NO' && inner.edit_form_field_visibility == 'NO'), 'col-12': inner.layout_type =='single', 'col-md-6': inner.layout_type =='double', 'col-lg-4': inner.layout_type =='triple', 'col-lg-3 col-xl-3':
                             inner.layout_type =='four' }"
                 ngShow="inner.dependent_show_type == true">
              <!---->
              <input type="hidden" *ngIf="inner.form_field_visibility == 'NO' &&  inner.edit_form_field_visibility == 'NO' " />  <!--v-model="item.value" v-bind:id="item.name"     -->
              <label *ngIf="inner.form_field_visibility == 'YES' || inner.edit_form_field_visibility == 'YES'">{{ inner.display_name}}:<span class="text-danger" [ngClass]="{'text-danger':inner.is_required== true}" *ngIf="inner.is_required==true">*</span></label>
              <!--<a href="javascript:void(0);" v-bind:tabindex="-1" data-toggle="popoveruserguide" v-bind:data-content="GetLocalizedValue(item.user_guide)">-->
              <!--<a href="javascript:void(0);" data-toggle="popoveruserguide" data-content="inner.user_guide" [title]="inner.">
                <i class="fa fa-question-circle-o text-popover" style="font-size: 14px;" ></i>
              </a>-->
              <div class="form-group" *ngIf="inner.form_field_visibility == 'YES' || inner.edit_form_field_visibility == 'YES'">
                <!--text  [placeholder]="inner.display_name"-->
                <input type="text" class="form-control" [readonly]="inner.is_readOnly"
                       [formControlName]="inner.form_controlName" [id]="inner.custom_field_id"
                       [ngClass]="{'is-invalid': (form.get(inner.form_controlName)?.invalid && (form.get(inner.form_controlName)?.dirty || form.get(inner.form_controlName)?.touched) && (form.get(inner.form_controlName)?.errors?.required || form.get(inner.form_controlName)?.errors?.maxlength)) }"
                       *ngIf="inner.picklist_options != 'Lookup' && inner.dt_code !='date'  && inner.dt_code !='radio' && inner.dt_code!='boolean'  && inner.dt_code !='select' && inner.dt_code !='textarea' && inner.dt_code !='checkbox' && inner.dt_code !='date' && inner.dt_code !='int' && inner.dt_code !='decimal' && inner.dt_code !='bigint' && inner.dt_code !='map' && inner.dt_code !='imageurl'
                       && inner.dt_code !='image'
                       && inner.dt_code !='map_search'" />
                <div class="top" *ngIf="inner.dt_code == 'imageurl'" style="word-break:break-all;">
                  <!--<div [innerHTML]="inner.value"></div>-->
                  <a href="{{inner.value}}" style="height:50px;width:50px" target="_blank">{{inner.value |truncate }}</a>
                </div>
                <div class="top" *ngIf="inner.dt_code == 'image'" style="word-break:break-all;">
                  <div [innerHTML]="inner.value"></div>
                </div>

                <div class="top" *ngIf="inner.dt_code == 'map_search' && displayType == 'ADD'">
                  <a (click)="mapPopUP()" href="javascript:void(0);" class="btn btn-info"><i class="feather-search mr-2"></i> Search Location</a>
                </div>


                <input type="text" class="form-control" [readonly]="inner.is_readOnly"
                       [formControlName]="inner.form_controlName" [id]="inner.custom_field_id"
                       [ngClass]="{'is-invalid': (form.get(inner.form_controlName)?.invalid && (form.get(inner.form_controlName)?.dirty || form.get(inner.form_controlName)?.touched) && (form.get(inner.form_controlName)?.errors?.required || form.get(inner.form_controlName)?.errors?.maxlength)) }"
                       *ngIf="inner.dt_code == 'int'" />

                <small *ngIf="inner.dt_code == 'int' &&(form.get(inner.form_controlName).touched &&
                       form.get(inner.form_controlName).errors?.pattern)"
                       class="text-danger">Please enter valid value</small>

                <input type="text" class="form-control" [readonly]="inner.is_readOnly"
                       [formControlName]="inner.form_controlName" [id]="inner.custom_field_id"
                       [ngClass]="{'is-invalid': (form.get(inner.form_controlName)?.invalid && (form.get(inner.form_controlName)?.dirty || form.get(inner.form_controlName)?.touched) && (form.get(inner.form_controlName)?.errors?.required || form.get(inner.form_controlName)?.errors?.maxlength)) }"
                       *ngIf="inner.dt_code == 'bigint'" />

                <small *ngIf="inner.dt_code == 'bigint' &&(form.get(inner.form_controlName).touched &&
                       form.get(inner.form_controlName).errors?.pattern)"
                       class="text-danger">Please enter valid value</small>

                <input type="text" class="form-control"
                       [formControlName]="inner.form_controlName" [readonly]="inner.is_readOnly" [id]="inner.custom_field_id"
                       [ngClass]="{'is-invalid': (form.get(inner.form_controlName)?.invalid && (form.get(inner.form_controlName)?.dirty || form.get(inner.form_controlName)?.touched) && (form.get(inner.form_controlName)?.errors?.required || form.get(inner.form_controlName)?.errors?.maxlength)) }"
                       *ngIf="inner.dt_code == 'decimal'" />

                <small *ngIf="inner.dt_code == 'decimal' &&(form.get(inner.form_controlName).touched &&
                       form.get(inner.form_controlName).errors?.pattern)"
                       class="text-danger">Please enter valid value</small>


                <!--Textarea [placeholder]="inner.display_name"-->
                <textarea class="form-control" *ngIf="inner.dt_code == 'textarea'" [ngClass]="{'is-invalid': (form.get(inner.form_controlName)?.invalid && (form.get(inner.form_controlName)?.dirty || form.get(inner.form_controlName)?.touched) && (form.get(inner.form_controlName).errors?.required || form.get(inner.form_controlName)?.errors?.maxlength)) }" [formControlName]="inner.form_controlName" rows="3" cols="4"></textarea>


                <!--Ng Calendar [placeholder]="inner.display_name"-->

                <p-calendar [showIcon]="true" class="calendarwidth" inputStyleClass="form-control start-date" *ngIf="inner.dt_code == 'date'" [formControlName]="inner.form_controlName" [showTime]="false" dateFormat="mm/dd/yy" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1919:2030" [hourFormat]="(timeFormat==24)?'24':'12'"></p-calendar>


                <!--<p-calendar  inputStyleClass="form-control start-date" formControlName="leaseDate" placeholder="Select Date of Lease" [showTime]="false" dateFormat="mm/dd/yy" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1919:2030"
  [ngClass]="{'is-invalid': (leaseDetailForm.get('leaseDate').invalid && (leaseDetailForm.get('leaseDate').dirty || leaseDetailForm.get('leaseDate').touched) && (leaseDetailForm.get('leaseDate').errors?.required)) }"></p-calendar>-->
                <!--end calandar-->
                <!--Checkbox-->

                <div class="form-control pl-0 border-0 bg-transparent" *ngIf="inner.dt_code=='checkbox'">

                  <div *ngFor="let options of inner.listoptions">

                    <div class="form-check form-check-inline" *ngFor="let option of options.listoptions;let i=index;">

                      <!--<div class="form-check form-check-inline" *ngFor="let checkedvals of form.get(inner.form_controlName).value">-->

                      <div class="custom-control custom-checkbox">

                        <input id="chk_{{inner.custom_field_id}}_{{option}}_{{i}}"
                               value="5555" [checked]="checkvalue(inner.value,option)" (change)="onCheckboxChange($event,item,inner)" class="dynamic custom-control-input" type="checkbox">
                        <label class="custom-control-label universal-custom-control-label pl-2 pr-1 dynamic" for="chk_{{inner.custom_field_id}}_{{option}}_{{i}}">{{option}}</label>

                      </div>

                    </div>
                  </div>
                </div>

                <!--<div class="form-control pl-0 border-0 bg-transparent" *ngIf="inner.dt_code=='boolean'">
    <div class="form-check form-check-inline">
      <div class="custom-control custom-checkbox">

        <input id="chk_{{inner.custom_field_id}}" [formControlName]="inner.form_controlName"
               class="dynamic custom-control-input" type="checkbox">
        <label class="custom-control-label universal-custom-control-label pl-2 pr-1 dynamic" for="chk_{{inner.custom_field_id}}">{{inner.display_name}}</label>

      </div>
    </div>
  </div>-->

                <div class="form-control pl-0 border-0 bg-transparent" *ngIf="inner.dt_code=='boolean'">
                  <div class="form-check form-check-inline">
                    <div class="custom-control custom-checkbox pl-0">
                      <label class="switch">
                        <input type="checkbox"
                               id="{{inner.form_controlName}}" [formControlName]="inner.form_controlName">
                        <span class="slider round" id="{{inner.form_controlName}}"><span>Yes</span></span>
                      </label>
                    </div>
                  </div>
                </div>
                <!--Radio button-->
                <div class="form-control pl-0 border-0 bg-transparent" *ngIf="inner.dt_code=='radio'">
                  <div *ngFor="let options of inner.listoptions">

                    <div class="form-check form-check-inline" *ngFor="let option of options.listoptions;let i=index;">

                      <div class="custom-control custom-radio mx-2  p-0">
                        <!--<input id="rbl_{{inner.custom_field_id}}_{{option}}" class="dynamic custom-control-input"
                 [formControlName]="inner.form_controlName" type="radio">
          <label class="custom-control-label universalradio-custom-control-label pl-2 pr-1 dynamic" for="rbl_{{inner.custom_field_id}}_{{option}}">{{option}}</label>-->


                        <input id="radio-{{inner.custom_field_id}}_{{option}}" [formControlName]="inner.form_controlName" [value]="option" type="radio">
                        <label for="radio-{{inner.custom_field_id}}_{{option}}" class="radio-label">{{option}}</label>
                      </div>
                    </div>
                  </div>

                </div>

                <!--Ng Dropdown-->
                <!--Dropdown
  picklist_options = Lookup       dt_code==select    dropdown_type==normal--- so fill dropdown with select_options- coming from db
  -->
                <!--<select [formControlName]="inner.form_controlName" [ngClass]="{'form-control' : true,'invalid': inner.dt_code=='select' }" *ngIf="inner.dt_code=='select' && inner.select_options==''">
    <option value="">Select</option>
    <option [value]="option.id"
            *ngFor="let option of MakeNormalArray(inner.selectlistvalues)">
      {{option.value}}
    </option>
  </select>-->

                <!-- <ng-select *ngIf="inner.dt_code=='select' && inner.picklist_options=='' && inner.is_readOnly" [items]="inner.select_options" [id]="inner.form_controlName"
                           [ngClass]="{'disabledddl':inner.is_readOnly}" [searchable]="false" [clearable]="false"
                           [closeOnSelect]="true" placeholder="Select" [formControlName]="inner.form_controlName" bindLabel="name" bindValue="value">
                </ng-select> -->
                <ng-select [items]="inner.select_options"  [ngClass]="{'disabledddl':inner.is_readOnly}" [id]="inner.form_controlName" [closeOnSelect]="true" placeholder="Select"
                           (clear)="onClearLang(item.InnerData,j)"
                           (scrollToEnd)="onScrollToEnd(item.InnerData,j)" [virtualScroll]="true" (keyup)="onKey($event,item.InnerData,j)"
                           *ngIf="inner.dt_code=='select' && inner.picklist_options=='' &&  inner.ColumnName!='Image1' &&  inner.ColumnName!='Image2' && inner.ColumnName!='OpportunityId'" [formControlName]="inner.form_controlName" bindLabel="name" bindValue="value">

                </ng-select>
                <ng-select [items]="inner.select_options"   [id]="inner.form_controlName" [closeOnSelect]="true" placeholder="Select"
                (clear)="onClearLang(item.InnerData,j)"
                (change)="getFileUrl($event,formControlList,inner.ColumnName)"
                (scrollToEnd)="onScrollToEnd(item.InnerData,j)" [virtualScroll]="true" (keyup)="onKey($event,item.InnerData,j)"
                *ngIf="inner.dt_code=='select' && inner.picklist_options=='' &&  (inner.ColumnName=='Image1' || inner.ColumnName=='Image2') " [formControlName]="inner.form_controlName" bindLabel="name" bindValue="value">

                       </ng-select>
                       <ng-select [items]="inner.select_options"  [ngClass]="{'disabledddl':inner.is_readOnly}" [id]="inner.form_controlName" [closeOnSelect]="true" placeholder="Select"
                (clear)="onClearLang(item.InnerData,j)"
                (change)="GetopportunityDetailsByid($event,formControlList,inner.ColumnName)"
                (scrollToEnd)="onScrollToEnd(item.InnerData,j)" [virtualScroll]="true" (keyup)="onKey($event,item.InnerData,j)"
                *ngIf="inner.dt_code=='select' && inner.picklist_options=='' &&  inner.ColumnName=='OpportunityId'" [formControlName]="inner.form_controlName" bindLabel="name" bindValue="value">

                       </ng-select>

                <!-- <ng-select [items]="inner.select_options" [id]="inner.form_controlName" [closeOnSelect]="true" placeholder="Select"
                           *ngIf="inner.dt_code=='select' && inner.picklist_options=='' && inner.field_code==null && !inner.is_readOnly" [formControlName]="inner.form_controlName" bindLabel="name" bindValue="value">

                </ng-select>
                <ng-select [items]="inner.select_options" [id]="inner.form_controlName" [closeOnSelect]="true" placeholder="Select"
                           *ngIf="inner.dt_code=='select' && inner.picklist_options=='true' && !inner.is_readOnly" [formControlName]="inner.form_controlName" [multiple]="true" bindLabel="name" bindValue="value">
                </ng-select> -->

                <small *ngIf="((form.get(inner.form_controlName)?.invalid) && (form.get(inner.form_controlName).dirty) || (form.get(inner.form_controlName)?.touched) && (form.get(inner.form_controlName)?.errors?.required))"
                       class="text-danger">{{inner.display_name}} is required</small>
              </div>
            </div>
                </ng-container>
      
              </div>
            </ng-container>
            <div class="row  mb-3">
              <div class="col-sm-12 col-md-12 d-flex justify-content-end">
                <a *ngIf='addOrUpdatePermission' href="javascript:void(0);" class="btn btn-success mr-2" (click)="onSubmit()"><i class="feather-save"></i> Submit</a>
                <a href="javascript:void(0);" class="btn btn-danger" (click)="close()"><i class="fa fa-times"></i> Cancel</a>
              </div>
            </div>
      
          </form>
        <app-loader [size]=60 [color]="'white'" *ngIf="loadSave" class="loader-popup"></app-loader>
      </div>
    </div>
  </div> 
</div>
