<!-- ======= Header ======= -->
<!-- <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between h-100">
	<div class="left-section d-flex">
      <div class="logo">
		<a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link  " href="index.html">Home</a></li>
          <li><a class="nav-link active" href="about-us.html">Company</a></li>
          <li class="dropdown"><a href="#"><span>Features</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 2</a></li>
            </ul>
          </li>
          <li><a class="nav-link " href="pricing.html">Pricing</a></li>
          <li><a class="nav-link " href="contact-us.html">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
	  </div>
	  <div class="right-section d-flex h-100">
		<a href="#" class="mail-b"> <i class="fa fa-envelope pe-1"></i> info@zorbis.com</a>
		<a href="#" class="login-b"> Log in</a>
		<a href="pricing.html" class="buy-now btn"> Buy Now <span><i class="fa fa-arrow-right"></i></span></a>
	  </div>
    </div>
  </header> -->
<app-header></app-header>

  <main id="main" class="inner-page">
   <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center text-white">
          <h2>Company</h2>
          <ol>
            <li><a routerLink="/storefront/home" class="text-white">Home</a></li>
            <li>Company</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

	    <!-- ======= about Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container">

        <div class="row content">
          <div class="col-md-6 col-lg-6" data-aos="fade-right">
            <img src="assets/img/screen-1.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-6 col-lg-6 pt-3 ps-lg-5" data-aos="fade-up">
            <h2 class="mb-3">About Us</h2>
            <p>
              Seamlessly receive inbound and make outbound calls directly from Shape’s user interface without the need for any hardware or third-party software. Build and send high quality emails, newsletters, and drip campaigns to send at the most opportune times. Stay connected without missing a beat.
            </p>
            <p>
              Our Energy Management Plans are customized to meet our clients' specific financial and infrastructure requirements. We do not consider finances and facilities as separate concerns, but rather as equal concerns in a solution that will solve the nuts and bolts of energy planning and facility renovations while staying within budget and corporate strategy limits. Our detailed year-by-year implementation plan and corresponding cash flow analysis will demonstrate how energy savings may pay for capital improvements in the long run.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End about Section -->

 <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">		
          <h3>F.A.Q</h3>        
		<h2>Frequently Asked Questions</h2>		  
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Residential Solar Solutions? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Freedom Solar specializes in the installation of solar panels for residential homes, including complex projects like rooftop solar panels on Spanish tile, standing seam metal solar panels, corrugated roof solar panels, flat roof solar panels, and other roof types, as well as ground mount arrays and off-grid systems. 
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Electrical Panel & Service ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  It is less expensive to prevent issues from occurring. The same idea holds true for your solar energy installation. It has been claimed that for every dollar spent on a Solar Preventative Maintenance Inspection (PM Inspection), owners can save up to $100 in emergency repairs.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Preventative Solar Maintenance? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Consider Zorbis if you're seeking for a thorough solar maintenance and service package that supports all solar power systems, or if you are merely looking for solar panel servicing near me. 
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Solar Service Upgrade & Replacement ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  A panel upgrade or replacement is usually required to alleviate a problem with the existing panel. Sometimes a breaker might overheat to the point that the buss bar in a panel gets burned. The conductors between the meter and panel may become loose and burn out the main lugs, especially common when aluminum conductors were used. 
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Hybrid Energy Solutions? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  At Zorbis, we believe that ensuring a sustainable and steady energy supply requires a smart combination of renewable, energy storage, and reliable backup systems such as gas engine power plants, all of which are controlled by autonomous energy management software.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->

	<!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h3>Team</h3>
          <h2>Our Great Team</h2>
        </div>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
	
	 <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title text-center" data-aos="fade-up">
          <h2>Trusted by 55,000+ Customers Worldwide</h2>
        </div>

   
          <div class="row" >
			<div class="swiper mySwiper1st">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
					 <img src="assets/img/brand-1.png" alt="" class="img-fluid">
					 </div>
					<div class="swiper-slide">
					 <img src="assets/img/brand-2.png" alt="" class="img-fluid">
					 </div>
					<div class="swiper-slide">
					 <img src="assets/img/brand-3.png" alt="" class="img-fluid">
					 </div>
					<div class="swiper-slide">
					 <img src="assets/img/brand-4.png" alt="" class="img-fluid">
					 </div>
					<div class="swiper-slide">
					 <img src="assets/img/brand-5.png" alt="" class="img-fluid">
					 </div>
					<div class="swiper-slide">
					 <img src="assets/img/brand-1.png" alt="" class="img-fluid">
					 </div>
				  </div>
			  </div>
		</div>

      </div>
    </section><!-- End Features Section -->
	
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <app-footer></app-footer>
  <!-- End Footer -->