<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="particles-js">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out">
                    <h1>Automate <br> Your Business</h1>
                    <h2>Includes CRM, FSM,Loan Doc Creation, Project Management, Bank Login, Talygen integration and
                        500+ more easy-to-use featuress.</h2>
                    <div class="text-center sliderbtn text-lg-start">
                        
                        <!-- <a href="#about" class="buy-now btn scrollto">Request A Demo <span><i class="fa fa-arrow-right"></i></span>
                        </a> -->
                        
                        <a href="javascript:void(0);" (click)="showpopup()" class="buy-now btn scrollto"> Request A Demo
                        <span><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
                <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
<main id="main">
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">
            <div class="section-title text-center" data-aos="fade-up">
                <h2>Trusted by 55,000+ Customers Worldwide</h2>
            </div>
            <div class="row" data-aos="fade-left">
                <div class="swiper mySwiper1st">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/img/brand-1.png" alt="" class="img-fluid">
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/img/brand-2.png" alt="" class="img-fluid">
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/img/brand-3.png" alt="" class="img-fluid">
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/img/brand-4.png" alt="" class="img-fluid">
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/img/brand-5.png" alt="" class="img-fluid">
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/img/brand-1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Features Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">
            <div class="section-title text-center " data-aos="fade-up">
                <h2 class="text-white">Package Includes</h2>
            </div>
            <div class="swiper mySwiper px-5">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide text-center feature-item">
                        <div class="count-box">
                            <img src="assets/img/feature-1.png" alt="" class="img-fluid">
                        </div>
                        <p>Organise Documents</p>
                    </div>
                    <div class="swiper-slide text-center feature-item">
                        <div class="count-box">
                            <img src="assets/img/feature-2.png" alt="" class="img-fluid">
                        </div>
                        <p>Field Service with Checklist</p>
                    </div>
                    <div class="swiper-slide text-center feature-item">
                        <div class="count-box">
                            <img src="assets/img/feature-3.png" alt="" class="img-fluid">
                        </div>
                        <p>Customer Interactive App</p>
                    </div>
                    <div class="swiper-slide text-center feature-item">
                        <div class="count-box">
                            <img src="assets/img/feature-4.png" alt="" class="img-fluid">
                        </div>
                        <p>Direct / Indirect Sales</p>
                    </div>
                    <div class="swiper-slide text-center feature-item">
                        <div class="count-box">
                            <img src="assets/img/feature-5.png" alt="" class="img-fluid">
                        </div>
                        <p>Track your Projects / Loans</p>
                    </div>
                    <div class="swiper-slide text-center feature-item">
                        <div class="count-box">
                            <img src="assets/img/feature-2.png" alt="" class="img-fluid">
                        </div>
                        <p>Field Service with Checklist</p>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- <div class="swiper-pagination"></div> -->
            </div>
        </div>
    </section>
    <!-- End Counts Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 d-flex flex-column justify-content-center align-items-stretch px-lg-5"
                    data-aos="fade-right">
                    <div class="section-title" data-aos="fade-up">
                        <h2 class="m-0">Track Your Project / Loans with Stages</h2>
                    </div>
                    <p>Zorbis has been installing solar panels and backup power systems for homeowners and businesses
                        since YEAR. Our objective is to deliver complete residential and commercial solar power
                        solutions with exceptional craftsmanship, as well as the most cost-effective and high-quality
                        clean energy power, goods, and services available.</p>
                        <a href="javascript:void(0);" (click)="showpopup()" class="buy-now btn scrollto"> Request A Demo
                            <span><i class="fa fa-arrow-right"></i></span>
                            </a>
                  
                </div>
                <div class="col-xl-6 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-2 px-lg-4"
                    data-aos="fade-left">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><img src="assets/img/main-1.png" alt="" class="img-fluid"></div>
                        <h4 class="title"><a href="">Loan Doc Creation</a></h4>
                        <p class="description">Easily consolidate all of your leads from various marketingchannels into
                            a single database. Streamline outreach andconvert more sales to your pipeline with
                            automatedtracking, distribution, and lead scoring.</p>
                    </div>
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon"><img src="assets/img/main-2.png" alt="" class="img-fluid"></div>
                        <h4 class="title"><a href="">CRM Sales Automation</a></h4>
                        <p class="description">Automatically capture leads, assign and de-duplicate, sendfollow ups,
                            manage client projects, and more within oneeasy-to-use interface. Never lose track of
                            important dataor communications ever again!</p>
                    </div>
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon"><img src="assets/img/main-3.png" alt="" class="img-fluid"></div>
                        <h4 class="title"><a href="">Legally Binding eSignature</a></h4>
                        <p class="description">Create repeatable processes and views that streamline yourwork and ensure
                            best practices. Empower your team sothey can deliver world-class customer experiences every
                            day.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->
    <!-- ======= Details Section ======= -->
    <section id="details" class="details">
        <div class="container">
            <div class="row content">
                <div class="col-md-6 col-lg-7" data-aos="fade-right">
                    <img src="assets/img/screen-1.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 col-lg-5 pt-2 pt-lg-5" data-aos="fade-up">
                    <h3>Organize Your Documents</h3>
                    <h2>Online document Sign Integration</h2>
                    <p>
                        Seamlessly receive inbound and make outbound calls directly from Shape’s user interface without
                        the need for any hardware or third-party software. Build and send high quality emails,
                        newsletters, and drip campaigns to send at the most opportune times. Stay connected without
                        missing a beat.
                    </p>
                </div>
            </div>
            <div class="row content">
                <div class="col-md-6 col-lg-7 order-1 order-md-2 text-lg-end" data-aos="fade-left">
                    <img src="assets/img/screen-2.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 col-lg-5 pt-2 pt-lg-5 order-2 order-md-1 ps-lg-5" data-aos="fade-up">
                    <h3>Field Service with Checklist</h3>
                    <h2>Field Service Location App</h2>
                    <p>
                        Seamlessly receive inbound and make outbound calls directly from Shape’s user interface without
                        the need for any hardware or third-party software. Build and send high quality emails,
                        newsletters, and drip campaigns to send at the most opportune times. Stay connected without
                        missing a beat.
                    </p>
                    <a href="javascript:void(0);" (click)="showpopup()" class="buy-now btn scrollto"> Request A Demo
                        <span><i class="fa fa-arrow-right"></i></span>
                        </a>
                </div>
            </div>
            <div class="row content">
                <div class="col-md-6 col-lg-7" data-aos="fade-right">
                    <img src="assets/img/screen-3.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 col-lg-5 pt-2 pt-lg-4" data-aos="fade-up">
                    <h3>Customer Interaction App</h3>
                    <h2>Manage Your Service Appointment</h2>
                    <p>
                        Seamlessly receive inbound and make outbound calls directly from Shape’s user interface without
                        the need for any hardware or third-party software. Build and send high quality emails,
                        newsletters, and drip campaigns to send at the most opportune times. Stay connected without
                        missing a beat.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Details Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">
            <div class="section-title text-center " data-aos="fade-up">
                <h2>Your Loan, Tailored for You.</h2>
            </div>
            <div class="row" data-aos="fade-left">
                <div class="col-lg-4 col-md-4">
                    <div class="member" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pic"><img src="assets/img/loan-1.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Apply Online in Minutes</h4>
                            <p>Tell us about yourself and how much debt you want to consolidate..</p>
                            <a href="#" class="buy-now btn mb-3">Read More <span><i
                                        class="fa fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="member" data-aos="zoom-in" data-aos-delay="200">
                        <div class="pic"><img src="assets/img/loan-2.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Select a Loan Offer</h4>
                            <p>Review your monthly payment adn interest rate options. then choose..</p>
                            <a href="#" class="buy-now btn mb-3">Read More <span><i
                                        class="fa fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="member" data-aos="zoom-in" data-aos-delay="300">
                        <div class="pic"><img src="assets/img/loan-3.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Get Your Money</h4>
                            <p>Your loan is automatically deposited into your bank account..</p>
                            <a href="#" class="buy-now btn mb-3">Read More <span><i
                                        class="fa fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12  text-center pt-5">
                    <a href="#" class="buy-now btn"><span><i class="fa fa-arrow-right"></i></span> Check Your Rate </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Team Section -->
    <!-- ======= more features Section ======= -->
    <section id="mfeatures" class="mfeatures">
        <div class="container">
            <div class="section-title text-center " data-aos="fade-up">
                <h2>Features of Zorbis CRM</h2>
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-md-6 col-lg-4">
                    <div class="featureitem text-center" data-aos="zoom-in" data-aos-delay="100">
                        <div class="featicon"><img src="assets/img/mfeature-1.png" class="img-fluid" alt=""></div>
                        <div class="feature-info">
                            <h4>Automatically sync loan data & docs with bank</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="featureitem fitem2 text-center" data-aos="zoom-in" data-aos-delay="200">
                        <div class="featicon"><img src="assets/img/mfeature-2.png" class="img-fluid" alt=""></div>
                        <div class="feature-info">
                            <h4>Update borrowers and partners at crucial loan milestones</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="featureitem fitem3 text-center" data-aos="zoom-in" data-aos-delay="300">
                        <div class="featicon"><img src="assets/img/mfeature-3.png" class="img-fluid" alt=""></div>
                        <div class="feature-info">
                            <h4>Send documents faster with legally binding eSignature</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="featureitem fitem4 text-center" data-aos="zoom-in" data-aos-delay="400">
                        <div class="featicon"><img src="assets/img/mfeature-4.png" class="img-fluid" alt=""></div>
                        <div class="feature-info">
                            <h4>Sync your appointments with more visibility</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="featureitem fitem5 text-center" data-aos="zoom-in" data-aos-delay="500">
                        <div class="featicon"><img src="assets/img/mfeature-5.png" class="img-fluid" alt=""></div>
                        <div class="feature-info">
                            <h4>Direct login to bank</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="featureitem fitem6 text-center" data-aos="zoom-in" data-aos-delay="600">
                        <div class="featicon"><img src="assets/img/mfeature-6.png" class="img-fluid" alt=""></div>
                        <div class="feature-info">
                            <h4>Follow Ups/Reminders</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End more features Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container">
            <div class="section-title text-center " data-aos="fade-up">
                <h2>What Our Customers Says</h2>
            </div>
            <div class="testimonials-slider mySwiper1 swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            <p>
                                Best mortgage CRM we've used by far. We're now looking to use their general for other
                                companies we own (property management, call center, and sales). Thay have all the major
                                features we use, and the look and feel is in a different universe vs. others systems
                                we've used.
                            </p>
                            <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                            <h3>Saul Goodman</h3>
                        </div>
                    </div>
                    <!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            <p>
                                Best mortgage CRM we've used by far. We're now looking to use their general for other
                                companies we own (property management, call center, and sales). Thay have all the major
                                features we use, and the look and feel is in a different universe vs. others systems
                                we've used.
                            </p>
                            <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                            <h3>Sara Wilsson</h3>
                        </div>
                    </div>
                    <!-- End testimonial item -->
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- <div class="swiper-pagination"></div> -->
            </div>
        </div>
    </section>
    <!-- End Testimonials Section -->
</main>
<!-- End #main -->
<!-- ======= Footer ======= -->
<!-- <footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <a href="index.html"><img src="assets/img/logo-white.png" alt="" class="img-fluid mb-3"></a>
                        <p class="pb-3">Zorbis has been installing solar panels and backup power systems for homeowners
                            and businesses since YEAR. Our objective is to deliver complete residential and commercial
                            solar power solutions with exceptional craftsmanship, as well as the most cost-effective and
                            high-quality clean energy power, goods, and services available.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 footer-links ps-md-5">
                    <h4>Extra Links</h4>
                    <ul>
                        <li> <a href="#">Home</a></li>
                        <li> <a href="#">Comapny</a></li>
                        <li> <a href="#">Features</a></li>
                        <li> <a href="#">Pricing</a></li>
                        <li> <a href="contact-us.html">Contact Us</a></li>
                    </ul>
                    <div class="social-links mt-3">
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Contact Us</h4>
                    <p><i class="fa fa-home me-3"></i> 1341 W Mockingbird LN Ste 1050E Dallas TX 75247</p>
                    <p>
                        <i class="fa fa-envelope me-3"></i>
                        <a href="mailto:info@zorbis.com" class="text-white">info@zorbis.com</a>
                    </p>
                    <p><i class="fa fa-phone me-3"></i><a href="tel:+18005957672" class="text-white"> 1800 595 7672</a>
                    </p>
                    <a href="#about" class="buy-now btn scrollto"><span><i class="fa fa-arrow-right"></i></span> Request
                        A Demo </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            Copyright &copy; 2022<span> - Proudly powered by Zorbis</span>
        </div>
    </div>
</footer> -->
<app-requestademomodel #makeFormModel ></app-requestademomodel>
<app-footer></app-footer>