<div class="panel active" >
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="#callHistory" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">
          <span>Video Call History ({{historyCount}})</span>
        </a>
      </h4>
    </div>
    <div id="callHistory" class="panel-collapse active show p-0 border-0" data-parent="#accordion">
      <div id="callHistory" class="panel-collapse collapse active show">

        <div class="col-md-12 col-sm-12 list-card-view" >
          <div class="card card-block border-0" *ngFor="let item of callHistoryList;let i=index">
          <div class="">
            <div class="card-main">
           
              <div class="row">
                <div class="col-12"><p><strong>Meeting Id:</strong> {{item.Id}}</p></div>
              </div>
              <div class="row">
                <div class="col-12"><p><strong>Host Name:</strong> {{item.ParticipantIdentity}} </p></div>
                <div class="col-12"><p><strong>Participant(s) Name:</strong> {{getParticipents(item.ParticipantList)}}</p></div>
                <div class="col-12"><p><strong>Start Date Time:</strong> {{item.StartTime | DateTimeToLocal}}</p></div>
                <div class="col-12"><p><strong>End Date Time:</strong> {{item.EndTime | DateTimeToLocal}}</p></div>
                <div class="col-12"><p><strong>Duration:</strong> {{item.Duration}} <span *ngIf="item.Duration">Sec</span></p></div>
              </div>
              <div class="row" >
                <!-- *ngFor="let participant of item.ParticipantList;let i=index" -->
                <!-- <div class="col-12"><p><strong>Participant Name(s):</strong> {{getParticipents(item.ParticipantList)}}</p></div> -->
                <!-- <div class="col-12"><p><strong>Participant Name:</strong> {{participant.ParticipantIdentity}}</p></div> -->

              </div>
              
            </div>
          </div>
        </div>
        <div class="card card-block" *ngIf="callHistoryList == null || callHistoryList.length==0">
          <div class="card-main border-bottom  mt-3">
            <p class="text-center text-danger">No data to display</p>
          </div>
        </div>
        </div>
      </div>
    </div>
    <app-loader [size]=60 [color]="'white'" *ngIf="loadSave" class="loader-popup"></app-loader>
  </div>
