<div class="page">
  <!-- Breadcrumb-->
  <div class="breadcrumb-holder">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-9 mt-3">
          <span class="dash">Check Progress</span>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item" *ngIf="isleasePage"><a routerLink="/lease">Manage Perposal</a></li>
            <li class="breadcrumb-item" *ngIf="!isleasePage"><a routerLink="/whatsnext">Perposal in Process</a></li>
            <li class="breadcrumb-item active">Check progress</li>
          </ul>
        </div>
        <div class="col-md-3 mt-4 text-right" *ngIf="isleasePage">
          <button class="w-auto sw-100 btn btn-dark" (click)="leaseBack()"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
        </div>
        <div class="col-md-3 mt-4 text-right" *ngIf="!isleasePage">
          <button class="w-auto sw-100 btn btn-dark" (click)="whatsnextBack()"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Section-->
  <section class="dashboard-header section-padding">
    <div class="container-fluid">
      <div class="row d-flex align-items-md-stretch">
        <div class="col-12">
          <div class="bg-white border rounded pb-4">
              <div class="col-md-12 mt-4">

                <div class="table-responsive">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td><b>Business Name:</b> {{whatsNextvaule[0].contactBussinessName}}</td>
                        <td><b>Contact Name:</b> {{whatsNextvaule[0].contactName}}</td>
                        <td><b>Created On:</b> {{whatsNextvaule[0].contactCreatedOn  | date: 'MM-dd-yyyy'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="col-12">
                <h3 class="heading bg-info p-2 text-white border-0">Status: {{whatsNextvaule[0].whatNextRecentStatus}}</h3>
              </div>


              <div class="col-12 mt-3">
                <div class="row">
                  <div class="col-lg-3 mb-3" *ngFor="let value of whatsNextvaule">
                    <div class="progress-bars bg-success" *ngIf="value.whatNextStatus=='Done'">
                      <i [class]="value.icon"  style="font-size:50px;margin-bottom: 20px;"></i>
                      <h2>{{value.whatNextStep}}</h2>
                      <p>{{value.whatNextDesc}}</p>
                      <hr>
                      <p><i class="fas fa-check"></i>&nbsp;{{value.whatNextStatus}}</p>
                    </div>
                    <div class="progress-bars bg-secondary" *ngIf="value.whatNextStatus=='Pending'">
                      <i [class]="value.icon" style="font-size:50px;margin-bottom:20px;"></i>
                      <h2>{{value.whatNextStep}}</h2>
                      <p>{{value.whatNextDesc}}</p>
                      <hr>
                      <p><i class="fas fa-history"></i>&nbsp;{{value.whatNextStatus}}</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
