.image-box {
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
  position: relative;
}
.image-box img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.position-absolute{
  position: absolute;
  right: 10px;
  top: 10px;
}
