<div bsModal #ResetPassword="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-info " [ngClass]="{'disabled':loadSave}">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reset Password</h4>
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style=" margin-bottom:10px; max-height:600px; overflow:visible;">
        <form [formGroup]="resetPasswordForm" autocomplete="off">
          <div class="login-box-fields" [ngClass]="{'disabled':loadSave}">
            
            <div class="form-group relative-position">
              <input [type]="isTextFieldType ? 'text' : 'password'" type="password" class="form-control" autocomplete="off" 
                placeholder="Please enter password" formControlName="password" required
                [ngClass]="{'is-invalid': (password.invalid && (password.dirty || password.touched) && password.errors?.minlength) }">
                <div (click)="togglemyPasswordFieldType()" class="passowrd-icone">
                  <i class="fa fa-eye" aria-hidden="true" *ngIf="!isTextFieldType"></i>
                  <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="isTextFieldType"></i>
                </div>
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class=" alert-danger p-1">
                <div *ngIf="password.errors.required" class=" alert-danger p-1">Password is required</div>
                <div *ngIf="password.errors?.minlength" class=" alert-danger p-1">Password must be a minimum of 6 characters</div>
              </div>
            </div>
            <div class="form-group relative-position">
              <input [type]="isTextFieldType1 ? 'text' : 'password'" class="form-control" autocomplete="off" 
                placeholder="Please enter confirm password" formControlName="confirmPassword" required
                [ngClass]="{'is-invalid': (confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors?.minlength) }">
                <div (click)="togglemyPasswordFieldType1()" class="passowrd-icone">
                  <i class="fa fa-eye" aria-hidden="true" *ngIf="!isTextFieldType1"></i>
                  <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="isTextFieldType1"></i>
                </div>
              <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                class=" alert-">
                <div *ngIf="confirmPassword.errors.required" class=" alert-danger p-1">Confirm password is required
                </div>
                <div *ngIf="confirmPassword.errors.confirmedValidator" class=" alert-danger p-1">Confirm password does
                  not match</div>
                <div *ngIf="confirmPassword.errors?.minlength" class=" alert-danger p-1">Confirm password must be a minimum of 6 characters</div>
              </div>
            </div>
            <div class="col-sm-12 p-0">
              <p class="alert-warning p-2">Note: Password must be a combination of lower case, upper case, numeric and
                special character.</p>
            </div>
            <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button *ngIf='addOrUpdatePermission' type="button" class="btn btn-success form-btns"
          [disabled]="!addForm.valid" (click)="Save()"><i class="feather-save text-white"></i> Save</button>
        <button type="button" class="btn btn-danger form-btns" (click)="close()" data-dismiss="modal"
          aria-label="Close"><i class="fa fa-times text-white"></i> Cancel</button>
      </div> -->
        <app-loader [size]=60 [color]="'white'" *ngIf="loadSave" class="loader-popup"></app-loader>
      </div>
    </div>
  </div>
</div>