<div [formGroup]="dropdown">
  <div class="row">
    <div class="col-12 form-group">
      <ng-select
        [items]="dropdown.get('dropdownList') ? dropdown.get('dropdownList').value : ''"
        [placeholder]="dropdown.get('placeHolder').value"
        bindValue="key"
        bindLabel="text"
        [closeOnSelect]="true"
        formControlName="displayName"
        [clearable]="false"
        [appendTo]="'body'"
        [disabled]="dropdown.get('isPreview').value"
      >
      </ng-select>
    </div>
  </div>
</div>
