<!-- Breadcrumb-->
<app-loader [size]=60 [color]="'white'" *ngIf="loadSave" class="loader-popup"></app-loader>
<div class="header  w-90 mb-2 d-flex" [ngClass]="customerProfile == true ? 'ml-4 pl-3 mr-4 mt-4 header-padding' : ''">
  <div class="col-md-6 pl-0">
    <h2 class=" pr-2 w-90"><strong>Notifications</strong></h2>
    <div class="breadcrumb-wrapper w-90">
      <ol class="breadcrumb">
        <li>
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="active">Notifications</li>
      </ol>
    </div>
  </div>
  <div *ngIf="!customerProfile" class="col-md-6 text-right right pr-0">
    <a href="javascript:;" class="btn btn-primary"  data-toggle="modal" data-target="#headerswtichuser"><i class="feather-repeat mr-1"></i>Switch Company</a>
  </div>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="col-lg-12 portlets">
    <div class="panel" [ngClass]="customerProfile == true ? 'ml-4 mr-4 bg-white pt-2 pb-2' : ''">
      <div class="panel-header border-bottom pb-3 btn-iconres">
        <div class="row mt-2 ml-2 mr-2 align-items-end">
          <div class="col-lg-4 col-xl-2">
            <div class="form-group mb-xl-0">
              <input class="form-control" type="text" [(ngModel)]='listFilter' placeholder="Name" (keyup)='updateFilter($event)'>
            </div>
          </div>
          <div class="col-lg-4 col-xl-2 pl-3 pl-lg-0">
            <div class="form-group mb-xl-0 d-inline-block w-100 flex-full">
              <div class="input-group">
                <p-calendar inputStyleClass="form-control start-date" placeholder="From" [(ngModel)]="From" [maxDate]="To" [readonlyInput]="true" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                <div class="input-group-append">
                  <span class="input-group-text"><i class="feather-calendar font-16"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xl-2 pl-3 pl-lg-0">
            <div class="form-group mb-xl-0 d-inline-block w-100 flex-full">
              <div class="input-group">
                <p-calendar inputStyleClass="form-control start-date" placeholder="To" [(ngModel)]="To" [minDate]="From" [readonlyInput]="true" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                <div class="input-group-append">
                  <span class="input-group-text"><i class="feather-calendar font-16"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xl-6 pl-3 pl-lg-0">
            <div class="d-inline-block align-top">
              <a class="btn btn-dark form-btns mr-2" href="javascript:void(0);" (click)="search()" tooltip="Search"><span><i class="feather-search mr-1"></i> </span> Search</a>
              <a class="btn btn-white form-btns" href="javascript:void(0);" (click)="reset()" tooltip="Reset"><span><i class="feather-repeat mr-1"></i> Reset </span></a>
            </div>
          </div>
          </div>
        </div>
      <div class="panel-content px-3 pagination2 table-responsive no-padding">
        <div class="header-chart mb-1">Notifications</div>
        <ngx-datatable #table class="bootstrap table table-hover table-dynamic"
                       [rows]="pagedData.data"
                       [columnMode]="'force'"
                       [scrollbarH]="true"
                       [rowHeight]="'40'"
                       [headerHeight]="40"
                       [footerHeight]="50"
                       [externalPaging]="true"
                       [externalSorting]="true"
                       [loadingIndicator]="loadSave"
                       [count]="pagedData.pager.totalItems"
                       [offset]="pagedData.pager.currentPage"
                       [limit]="pagedData.pager.pageSize"
                       (page)='setPage($event)'
                       (sort)="onSort($event)">
          <ngx-datatable-column name="Sender Name" prop="senderName" [sortable]="true" headerClass="thead-dark">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span>{{row.senderName}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Subject" prop="Subject" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span *ngIf="!row.SubjectForList" [innerHtml]="row.Subject"></span>
              <span *ngIf="row.SubjectForList" [innerHtml]="row.SubjectForList"></span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Received On" prop="CreatedOn" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span>{{row.CreatedOn | DateTimeToLocal}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Read On" prop="ReadOn" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span *ngIf="row.IsRead">{{row.ReadOn | DateTimeToLocal}}</span>
              <span class="badge badge-warning" style="color:white;padding:5px" *ngIf="!row.IsRead">Unread</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Action" [sortable]="false" [maxWidth]="200" headerClass="text-center">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="text-center">

                <a href="javascript:void(0);" class="btn-edit" (click)="displayDetail(row)"><i class="feather-eye text-info" title="View"></i></a> &nbsp;
                <a href="javascript:void(0);" class="btn-edit" (click)="redirectToSource(row)">
                  <i class="fa fa-external-link" aria-hidden="true" title="Go To Source"></i>
                </a>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template
                         let-rowCount="rowCount"
                         let-pageSize="pageSize"
                         let-selectedCount="selectedCount"
                         let-currentPage="currentPage"
                         let-offset="offset"
                         let-isVisible="isVisible">
              <div class="page-count">
                {{rowCount}} total
              </div>
              <div>
                <div class="page-size-record">
                  <span style="text-align:right; width:80px;vertical-align: middle;">
                    <ng-select [searchable]="false" [items]="lstPageSize" appendTo="body" [(ngModel)]='pageSizeValue' dropzone="fixed" [clearable]="false" (change)="onChange($event)" draggable="false" [closeOnSelect]="true"
                               bindLabel="text" bindValue="text"></ng-select>
                  </span>
                </div>
              </div>
              <datatable-pager [pagerLeftArrowIcon]="'fa feather-chevrons-left'"
                               [pagerRightArrowIcon]="'fa fa-angle-double-right'"
                               [pagerPreviousIcon]="'fa fa-angle-left'"
                               [pagerNextIcon]="'fa feather-chevron-left'"
                               [page]="pagedData.pager.currentPage+1"
                               [size]="pageSizeValue"
                               [count]="pagedData.pager.totalItems"
                               [hidden]="!((rowCount / pageSize) > 1)"
                               (change)="setPage($event)">
              </datatable-pager>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
<app-notification-detail #notificationDetailModal></app-notification-detail>




