.richTextBox {
  cursor: initial;
}

.richTextBox ol {
  padding-left: 40px !important;
}

.richTextBox  ul {
  padding-left: 40px !important;
}

.richTextBox h3 {
  text-transform: none !important;
  font-size: 23px !important;
  margin-bottom: 8px !important;
  margin-top: 0px !important;
}
