<div class="login-container">
  <div class="login-main">
    <!--<a href="javascript:void(0);"><img src="assets/default-theme/imagesNew/login-logo.png" /></a>-->
    <div class="logo-i"><img src="{{siteimage}}" /></div>
    <div class="login-box">
      <h2>Reset Password</h2>
      <!--<h2>{{pageTitle}}</h2>-->
      <form [formGroup]="resetPasswordForm" autocomplete="off">
        <div class="login-box-fields" [ngClass]="{'disabled':loadSave}">
          <div class="form-group fontpassword">
            <input type="password" class="form-control" autocomplete="off" (change)="change()"
                   passwordToggle placeholder="Please enter password" formControlName="password" required>
            <i class="fa fa-lock"></i>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class=" alert-">
              <div *ngIf="password.errors.required" class=" alert-danger p-1">Password is required</div>
            </div>
          </div>
        <div class="form-group fontpassword">
          <input type="password" class="form-control" autocomplete="off" (change)="change()"
                 passwordToggle placeholder="Please enter confirm password" formControlName="confirmPassword" required>
          <i class="fa fa-lock"></i>
          <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class=" alert-">
            <div *ngIf="confirmPassword.errors.required" class=" alert-danger p-1">Confirm password is required</div>
            <div *ngIf="confirmPassword.errors.confirmedValidator" class=" alert-danger p-1">Confirm password does not match</div>
          </div>
        </div>
        <div class="col-sm-12 p-0">
          <p class="alert-warning p-2">Note: Password must be a combination of lower case, upper case, numeric and special character.</p>
        </div>
        <button type="submit" class="btn btn-primary" (click)="resetPassword()">Submit</button>
          </div>
      </form>
    </div>
  </div>
</div>
<app-loader [size]=60 [color]="'white'" *ngIf="loadSave" class="loader-login"></app-loader>
