.carousel-indicators{ display:none;}

.wrapperwidget { background: #fff; box-shadow: 0px 0px 3px #999; margin: auto; text-align: left; position: relative; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; margin-bottom: 20px !important; padding-top: 5px; }
.scrollswidget {  height: 110px; white-space:nowrap} 
.hoverscrolls{   background:#EFEFEF;  }
.hoverscrolls:hover {   transform: scale(0.99);     background-color: #dad8d8 !important;}


