<form [formGroup]="coApplicantForm" autocomplete="off">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Active:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="active"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">First Name:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="firstName"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Last Name:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="lastName"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">DOB:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="dob"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Suffix:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="suffix"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">SSIN:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="ssn"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Relationship Status:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="relationshipStatus"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Street#:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="street"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Street Name:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="streetName"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Street Type:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="streetType"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Apt/St #:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="aptSt"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">P.O. Box:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="poBox"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Rural Route:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="ruralRoute"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">City:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="city"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">State:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="stateId"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Zip:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="zip"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Years at Current Address:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="yearsatCurrentAddr"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Months at Current Address:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="monthsatCurrentAddr"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Home Phone:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="homePhone"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Business Phone:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="businessPhone"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Email Address:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="email"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">DL State:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="dlState"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">DI Number:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="dINumber"></b></div>
      </div><div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Housing Status:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="housingStatus"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Rent/Mortage Payment:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="rentAmount"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Employement Type:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="employerType"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Employer:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="employerName"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Occupation:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="occupation"></b></div>
      </div>

      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Years at Employer:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><b><input type="text" formControlName="yearAtEmp"></b></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Months at Employer:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><b><input type="text" formControlName="monthsAtEmp"></b></b></div>
      </div>

      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Gross Income:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="grossIncome"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Income Frequency:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="incomeFrequency"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Other Income (Monthly):</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="otherMonthlyIncome"></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Other Income Source:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b><input type="text" formControlName="otherIncomeSource"></b></div>
      </div>


    </div>
    <div class="col-12 p-0" >
      <button type="submit" class="btn btn-success form-btns" (click)="addUpdateApplicant()" *ngIf="!IsCancelled"><i class="feather-save text-white"></i> Save</button>
      <button type="submit" class="btn btn-danger form-btns" (click)="close()"><i class="fa fa-times text-white"></i> Cancel</button>
    </div>
  </div>
</form>
