<app-loader [size]=60 [color]="'white'" *ngIf="loadSave" class="loader-popup"></app-loader>
<app-breadcrumb *ngIf="!loadSave" [data]="contentHeader"></app-breadcrumb>
<!-- <div class="header float-left w-100 mb-2">;
  <h2 class="float-left pr-2"><strong>Lead Details</strong></h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a class="smview" routerLink="/dashboard">Dashboard</a></li>
      <li><a class="smview" routerLink="/lead">Manage Lead</a></li>
      <li class="active">Lead Details</li>
    </ol>
  </div>

</div> -->
<div class="clearfix"></div>
<!--
<div class="card mb-4 border">
  <span class="text-capitalize p-3 font-weight-bold border-bottom heading-above-subhead">
    <i class="fa fa-user-circle-o text-dark float-left mr-2" style="font-size:27px;"></i>
    <span class="float-left w-85-res" style="font-size:18px;">{{LeadFirstName}} {{LeadLastName}}</span>
    <span class="cntnt-right-btn mr15 btn-iconres">


      <a href="javascript:;" *ngIf="ownerId  && solgenpower && is_converted != true && unqualifiedStage != true"
        class="btn btn-dark text-white mr-2 smview" (click)="SendBackClick()"> Send back to Queue</a>
      <a *ngIf="solgenpower && is_converted != true && unqualifiedStage != true " href="javascript:;"
        [routerLink]="['/lead/editlead',Id]" class="btn btn-success text-white mr-2 smview"><i
          class="fa fa-pencil mr-1"></i> Edit</a>

      <a *ngIf="solgenpower && is_converted != true && unqualifiedStage != true" href="javascript:;"
        class="btn btn-primary form-btns mr-2 smview" (click)="showpopup()"><i class="fa fa-exchange text-white"></i>
        Convert</a>
      <a href="javascript:;" class="btn btn-dark text-white smview" (click)="OnBackToListClick()"><i
          class="fa fa-arrow-left mr-1"></i> Back</a>
    </span>
  </span>

  <div class="col-12 float-left d-md-flex p-0 py-resp py-2 py-sm-0">
    <ng-container *ngFor="let item of customCompnentValuesTop">
      <div *ngIf="item.ColumnName!='FirstName' && item.ColumnName!='LastName'" class="col py-2">
        <span *ngIf="item.field_route==null" class="d-block">
          <strong>{{ item.display_name}}:</strong>
          <ng-container *ngIf="item.dt_code!='date' &&  item.dt_code!='datetime'">{{ item.value }} </ng-container>
          <ng-container *ngIf="item.dt_code=='date'"> {{ item.value | date: 'MM-dd-yyyy'}}</ng-container>
          <ng-container *ngIf="item.dt_code=='datetime'"> {{ item.value | DateTimeToLocal}}</ng-container>
        </span>
        <span *ngIf="item.field_route!=null" class="d-block"><strong>{{ item.display_name}}:</strong> <a
            href="javascript:void(0);" [routerLink]="[item.field_route,item.ref_value]"> {{ item.value}}</a></span>
      </div>
    </ng-container>
  </div>
</div> -->





<!-- <app-newnoteslist #listnotesmodel1 subModuleName="lead" [view]="true" [AccountId]="accountId" [ObjectRefId]="leadId"
  (newItemEvent)="addItem($event)">
</app-newnoteslist>
<div class="clearfix"></div>
<ng-container *ngFor="let item of groupTop">
  <div *ngIf="item.IsVisible" class="card m-0 border">
    <span class="text-capitalize p-3 font-weight-bold text-center " style="font-size: 24px;">
      {{item.default_value}}
    </span>
  </div>
</ng-container> -->


<div class="card  border-0">
    <div class=" panel">
        <div class="row">
            <div class="col-lg-12 border-bottom">
                <app-stagemanagement [submoduleName]="submoduleName" [areButtonsVisible]="true" [customCompnentValuesTop]="customCompnentValuesTop" [moduleName]="moduleName" (newItemEvent)="addItem($event)" (showConvert)="showpopup($event)">
                </app-stagemanagement>
            </div>
            <div class="col-lg-12 mt-3">
                <div class="panel-content w-100  p-2 px-3 ">
                    <div class="row mt-2 scroll-in-content">
                        <div class="col-sm-12 col-lg-8">
                            <h3 class="form-heading mt-0"><span>Details</span></h3>
                            <div id="accordion" [ngClass]="{'disabled':loadSave}">
                                <form [formGroup]="form" *ngIf="form">
                                    <ng-container *ngFor="let item of formControlList">

                                        {{test(item)}}
                                        <div *ngIf="item.IsVisible" class="panel active">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a href="#{{item.group_display_name}}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">
                                                        <span> {{item.group_name}}</span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="{{item.group_display_name}}" class="panel-collapse collapse active show" style="">
                                                <div class="panel-body row px-0 mt-0">
                                                    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let inner of item.InnerData;">
                                                        <div class="input-group border-bottom">
                                                            <div class="col-sm-12 col-md-6 px-0">
                                                                <span class="py-2 d-block"><strong>{{ inner.display_name}}:</strong></span>
                                                            </div>
                                                            <div class="col-sm-12 col-md-6 d-flex align-items-center">
                                                                <span *ngIf='inner.dt_code=="datetime" && inner.display_name != "Mobile" && inner.display_name != "Phone (Other)"' class="py-2 d-block">
                                {{ inner.value | DateTimeToLocal}}
                              </span>
                                                                <span *ngIf="inner.display_name == 'Mobile'">
                                <a href="javascript:void(0);" (click)="openDailer(inner.value)">{{inner.value}}</a>
                              </span>
                                                                <span *ngIf="inner.display_name == 'Phone (Other)'">
                                <a href="javascript:void(0);" (click)="openDailer(inner.value)">{{inner.value}}</a>

                              </span>
                                                                <span *ngIf="inner.display_name == 'Annual Revenue'">
                                <a href="javascript:void(0);" (click)="openDailer(inner.value)">{{inner.value? '$'+inner.value : inner.value }}</a>
                            </span>
                                                                <span *ngIf="inner.display_name != 'Annual Revenue' && inner.value!=null && inner.display_name != 'Mobile' && inner.display_name != 'Phone (Other)'  && inner.dt_code!='boolean' && inner.field_route==null &&  inner.dt_code!='datetime' && inner.dt_code!='select' && inner.dt_code != 'map'"
                                                                    class="py-2 d-block" style="word-break: break-all;">{{ inner.value}}</span>
                                                                <span *ngIf="inner.display_name != 'Annual Revenue' && inner.value!=null  && inner.display_name != 'Mobile' && inner.display_name != 'Phone (Other)' && inner.dt_code!='boolean' && inner.field_route!=null  && inner.dt_code!='datetime' && inner.dt_code!='select' && inner.dt_code != 'map'"
                                                                    class="py-2 d-block" style="word-break: break-all;">
                                <a href="javascript:void(0);" [routerLink]="[inner.field_route,inner.ref_value]">{{
                                  inner.value}}</a>
                              </span>

                                                                <span class="top" *ngIf="inner.dt_code == 'map'">
                                <span [innerHTML]="inner.value"></span>
                                                                </span>

                                                                <span *ngIf="inner.dt_code == 'select'">
                                <span *ngIf="inner.FieldFrom !=null">
                                  {{inner.value }}
                                </span>
                                                                <span *ngIf="inner.FieldFrom==null">
                                  <span *ngFor="let itemColorCode of getListingColorCode(inner.value);">
                                    <span *ngIf="itemColorCode.colorkey==undefined">
                                      {{itemColorCode.color}}
                                    </span>
                                                                <span *ngIf="itemColorCode.colorkey!=undefined" style="max-width:150px !important;" class="status-box" [title]="itemColorCode.color" [ngStyle]="{background: itemColorCode.colorkey}">
                                      {{itemColorCode.color}}
                                    </span>
                                                                </span>
                                                                </span>
                                                                </span>
                                                                <!--============================== For CheckBox ===========================-->
                                                                <div class="form-control pl-0 border-0 bg-transparent" *ngIf="inner.dt_code=='boolean'">
                                                                    <div class="form-check form-check-inline">
                                                                        <div class="custom-control custom-checkbox pl-0">
                                                                            <label class="switch  mb-0">
                                      <input type="checkbox" id="chk_{{inner.custom_field_id}}"
                                        [formControlName]="inner.form_controlName" disabled>
                                      <span class="slider round" id="{{inner.custom_field_id}}"><span>Yes</span></span>
                                    </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--============================== For CheckBox ===========================-->
                                                                <!--<div class="form-control pl-0 border-0 bg-transparent" *ngIf="inner.dt_code=='checkbox'">
                                <div class="form-check form-check-inline">


                                  <div class="custom-control custom-checkbox pl-0">
                                    <label class="switch mb-0">
                                      <input type="checkbox" id="chk_{{inner.custom_field_id}}"
                                             [formControlName]="inner.form_controlName" disabled>
                                      <span class="slider round" id="{{inner.custom_field_id}}"><span>Yes</span></span>
                                    </label>
                                  </div>
                                </div>
                              </div>-->
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngFor="let item of executionFlow">
                                        <div *ngIf="executionFlow.length>0" class="panel active">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a href="#{{item.automationFlowName}}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">
                                                        <span> {{item.automationFlowName}}</span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="{{item.automationFlowName}}" class="panel-collapse collapse active show" style="">
                                                <div class="panel-body row px-0 mt-0">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <div class="input-group border-bottom">
                                                            <div class="float-left ">
                                                                <div style="height: 40px !important;width:40px !important; cursor:pointer;">
                                                                    <a href="javascript:void(0);" (click)="ExecuteAutomationFlow(item.automationFlowId)">
                                                                        <svg focusable="false" data-key="flow" aria-hidden="true" viewBox="0 0 100 120" class="slds-icon slds-icon_small" fill="white">
                                      <rect width="100" rx="15" height="90" fill="rgb(1, 118, 211)" />
                                      <g>
                                        <path
                                          d="M79.9 30.7c-2.6-5.1-9.2-14.6-21.5-9-7.6 3.5-11.9 5.5-11.9 5.5l-11 4.8c-3.1 1.5-9.9-.6-13.7-2-1.1-.4-2.1.8-1.6 1.9 2.6 5.1 9.2 14.6 21.5 9 7.6-3.5 22.9-10.1 22.9-10.1 3.1-1.5 9.9.6 13.7 2 1.1.2 2.1-.9 1.6-2.1zM53.5 46.8c-1.4.8-6.9 3.3-6.9 3.3l-5.5 2.4C38.4 54 32.5 52 29 50.6c-1-.5-1.9.8-1.4 1.8 2.2 5 8.1 14 18.9 8.5 6.7-3.4 12.4-5.6 12.4-5.6 2.7-1.5 8.6.5 12.1 1.9 1 .4 1.9-.8 1.4-1.9-2.3-5-8.2-14-18.9-8.5zM49.5 68.9c-1.1.6-3 1.8-3 1.8-2.1 1.3-6.5-.4-9.1-1.7-.7-.4-1.4.8-1 1.8 1.6 4.5 6 12.6 14.1 7.6 3-1.9 3-1.8 3-1.8 2.2-1.1 6.5.4 9.1 1.6.7.4 1.4-.8 1-1.8-1.6-4.4-5.7-12.1-14.1-7.5z">
                                        </path>
                                      </g>
                                    </svg>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="float-left ml-1" style="margin-top: -2px !important;">
                                                                <a href="javascript:void(0);" (click)="ExecuteAutomationFlow(item.automationFlowId)">
                                  {{item.automationFlowName}}
                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <!-- <ng-container>
                  <div *ngIf="executionFlow.length>0" class="panel active">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a href="#AutomationFlowExec" class="accordion-toggle" data-toggle="collapse"
                          data-parent="#accordion" aria-expanded="true">
                          <span> Automation Flow</span>
                        </a>
                      </h4>
                    </div>
                   <div id="AutomationFlowExec" class="panel-collapse collapse active show" style="">
                      <div class="panel-body row px-0 mt-0">
                        <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let item of executionFlow">
                          <div class="input-group border-bottom">
                            <div class="col-sm-12 col-md-6 px-0">
                             <span class="py-2 d-block"><strong>{{item.automationFlowName}}</strong></span>
                            </div>
                            <div class="col-12">
                              <div class="float-left ml-2">
                                <div  style="height: 40px !important;width:40px !important; cursor:pointer;">
                                  <a href="javascript:void(0);" (click)="ExecuteAutomationFlow(item.automationFlowId)">
                                  <svg  focusable="false" data-key="flow" aria-hidden="true" viewBox="0 0 100 120" class="slds-icon slds-icon_small" fill="white"><rect width="100" rx="15" height="90" fill="rgb(1, 118, 211)"/> <g> <path d="M79.9 30.7c-2.6-5.1-9.2-14.6-21.5-9-7.6 3.5-11.9 5.5-11.9 5.5l-11 4.8c-3.1 1.5-9.9-.6-13.7-2-1.1-.4-2.1.8-1.6 1.9 2.6 5.1 9.2 14.6 21.5 9 7.6-3.5 22.9-10.1 22.9-10.1 3.1-1.5 9.9.6 13.7 2 1.1.2 2.1-.9 1.6-2.1zM53.5 46.8c-1.4.8-6.9 3.3-6.9 3.3l-5.5 2.4C38.4 54 32.5 52 29 50.6c-1-.5-1.9.8-1.4 1.8 2.2 5 8.1 14 18.9 8.5 6.7-3.4 12.4-5.6 12.4-5.6 2.7-1.5 8.6.5 12.1 1.9 1 .4 1.9-.8 1.4-1.9-2.3-5-8.2-14-18.9-8.5zM49.5 68.9c-1.1.6-3 1.8-3 1.8-2.1 1.3-6.5-.4-9.1-1.7-.7-.4-1.4.8-1 1.8 1.6 4.5 6 12.6 14.1 7.6 3-1.9 3-1.8 3-1.8 2.2-1.1 6.5.4 9.1 1.6.7.4 1.4-.8 1-1.8-1.6-4.4-5.7-12.1-14.1-7.5z"> </path> </g></svg>
                                </a>
                                </div>
                              </div>
                              <div class="float-left ml-1" style="margin-top: -1px !important;">
                                <div>
                                  {{item.automationFlowName}}
                                </div>
                              </div>
                            </div>
                           --<div class="col-sm-12 col-md-6 d-flex align-items-center">
                              <span *ngIf='inner.dt_code=="datetime" && inner.display_name != "Mobile" && inner.display_name != "Phone (Other)"' class="py-2 d-block">
                                {{ inner.value | DateTimeToLocal}}
                              </span>
                              <span *ngIf="inner.display_name == 'Mobile'">
                                <a href="javascript:void(0);" (click)="openDailer(inner.value)">{{inner.value}}</a>
                              </span>
                              <span *ngIf="inner.display_name == 'Phone (Other)'">
                                <a href="javascript:void(0);" (click)="openDailer(inner.value)">{{inner.value}}</a>
                              </span>
                              <span
                                *ngIf="inner.value!=null && inner.display_name != 'Mobile' && inner.display_name != 'Phone (Other)' && inner.dt_code!='checkbox' && inner.dt_code!='boolean' && inner.field_route==null &&  inner.dt_code!='datetime' && inner.dt_code!='select' && inner.dt_code != 'map'"
                                class="py-2 d-block" style="word-break: break-all;">{{ inner.value}}</span>
                              <span
                                *ngIf="inner.value!=null  && inner.display_name != 'Mobile' && inner.display_name != 'Phone (Other)' && inner.dt_code!='checkbox' && inner.dt_code!='boolean' && inner.field_route!=null  && inner.dt_code!='datetime' && inner.dt_code!='select' && inner.dt_code != 'map'"
                                class="py-2 d-block" style="word-break: break-all;">
                                <a href="javascript:void(0);" [routerLink]="[inner.field_route,inner.ref_value]">{{
                                  inner.value}}</a>
                              </span>

                              <span class="top" *ngIf="inner.dt_code == 'map'">
                                <span [innerHTML]="inner.value"></span>
                              </span>

                              <span *ngIf="inner.dt_code == 'select'">
                                <span *ngIf="inner.FieldFrom !=null">
                                  {{inner.value }}
                                </span>
                                <span *ngIf="inner.FieldFrom==null">
                                  <span *ngFor="let itemColorCode of getListingColorCode(inner.value);">
                                    <span *ngIf="itemColorCode.colorkey==undefined">
                                      {{itemColorCode.color}}
                                    </span>
                                    <span *ngIf="itemColorCode.colorkey!=undefined" style="max-width:150px !important;"
                                      class="status-box" [title]="itemColorCode.color"
                                      [ngStyle]="{background: itemColorCode.colorkey}">
                                      {{itemColorCode.color}}
                                    </span>
                                  </span>
                                </span>
                              </span>

                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>  -->
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4 relatedtab">
                            <h3 class="form-heading mt-0"><span>Related</span></h3>

                            <div id="accordion" *ngIf="relatedObjects">
                                <ng-container>

                                </ng-container>
                                <ng-container *ngFor="let item of relatedObjects;let i=index;">
                                    <ng-container *ngIf="item.IsVisible">

                                        <ng-container *ngIf="item.layout_type != 'notes' && item.layout_type != 'sms history' && item.layout_type != 'call history' && item.layout_type != 'video call history' && item.layout_type != 'appointments' && item.layout_type != 'table' && item.layout_type != 'files' && item.layout_type != 'textarea'">
                                            <app-listview [data]="item" [index]="i"></app-listview>
                                        </ng-container>

                                        <ng-container *ngIf="item.layout_type == 'textarea' && item.default_value">
                                            <div class="w-100 p-3 mb-2 text-center information-section">
                                                <span class="text-capitalize font-weight-bold" style="font-size: 24px;">
                        {{item.default_value}}
                      </span>
                                            </div>
                                        </ng-container>

                                        <ng-container *ngIf="item.layout_type == 'table'">
                                            <app-tableview [data]="item" [index]="i" [SubModuleName]="submoduleName" [RecordId]="Id" (refreshEmitter)="RefreshRelatedObjects($event)"></app-tableview>
                                        </ng-container>

                                        <ng-container *ngIf="item.layout_type == 'notes'">
                                            <app-newnoteslist #listnotesmodel [view]="false" [DisplayOnEmpty]="true" subModuleName="{{submoduleName}}" [AccountId]="accountId" [ObjectRefId]="Id"></app-newnoteslist>
                                        </ng-container>

                                        <ng-container *ngIf="item.layout_type == 'files'">
                                            <app-files title="Files" moduleName="{{moduleName}}" submoduleName="{{submoduleName}}" primaryKey="{{Id}}"></app-files>
                                        </ng-container>

                                        <ng-container *ngIf="item.layout_type == 'appointments'">
                                            <app-appointments #appointmentlist title="Appointments" [is_converted]="is_converted" [unqualifiedStage]="unqualifiedStage" [solgenpower]="solgenpower" submoduleName="{{submoduleName}}" primaryKey="{{Id}}" [header]="true"></app-appointments>
                                        </ng-container>
                                        <ng-container *ngIf="item.layout_type == 'call history'">
                                            <app-lead-call-history #listcalllog [subModuleName]="objectname" [leadId]="Id">
                                            </app-lead-call-history>
                                        </ng-container>
                                        <ng-container *ngIf="item.layout_type == 'sms history'">
                                            <app-lead-sms-history #smsHistory [subModuleName]="objectname" [leadId]="Id"></app-lead-sms-history>
                                        </ng-container>
                                        <ng-container *ngIf="item.layout_type == 'video call history'">
                                            <app-video-call-history #videocalllog [subModuleName]="objectname" [RefId]="Id">
                                            </app-video-call-history>
                                        </ng-container>

                                    </ng-container>
                                </ng-container>
                            </div>
                            <!--<div id="accordion" [ngClass]="{'disabled':loadSave}">-->
                            <!--======================================================Lead SMS=============================================================-->
                            <!--<div class="panel active">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="#LeadSMS" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">
          <span>Lead SMS ({{LeadSMSCount}})</span>
        </a>
      </h4>
    </div>
    <div id="LeadSMS" class="panel-collapse collapse active show" style="">
      <div class="panel-body p-2 mt-0">
        <div class="table-responsive ngxtbl">
          <ngx-datatable #table class="bootstrap table table-hover table-dynamic"
                         [rows]="lstLeadSMS.data"
                         [scrollbarH]="true"
                         [rowHeight]="'40'"
                         [columnMode]="'force'"
                         [headerHeight]="40"
                         [footerHeight]="40"
                         [externalPaging]="true"
                         [externalSorting]="true"
                         [loadingIndicator]="loadSave"
                         [count]="lstLeadSMS.pager.totalItems"
                         [offset]="currentPageLeadSMS"
                         [limit]="pageSizeValueLeadSMSList"
                         (page)='setPageLeadSMSList($event)'
                         (sort)="onSortLeadSMSList($event)">
            <ngx-datatable-column name="Lead SMS Number" prop="NAME" [sortable]="true"></ngx-datatable-column>
            <ngx-datatable-column name="Type" prop="Type" [sortable]="true"></ngx-datatable-column>
            <ngx-datatable-column name="Body" prop="Body" [sortable]="true">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div title="{{row.Body}}" *ngIf='row.Body!=null || row.Body!==""'>
                  {{row.Body | truncate : 50}}
                </div>
                <div *ngIf='row.Body==null || row.Body==""'>
                  <span>N/A</span>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Created By" [sortable]="false" prop="CreatedBy" [minWidth]="150"></ngx-datatable-column>
            <ngx-datatable-column name="Created on" [sortable]="true" prop="CreatedDate" [minWidth]="130">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.CreatedDate | DateTimeToLocal}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer>
              <ng-template ngx-datatable-footer-template
                           let-rowCount="rowCount"
                           let-selectedCount="selectedCount"
                           let-currentPage="curPageLeadSMSList"
                           let-offset="offset"
                           let-isVisible="isVisible">
                <div class="page-count" *ngIf='(rowCount  > 0)'>
                  Showing {{(curPageLeadSMSList - 1 )* pageSizeValueLeadSMSList + 1}}  to {{curPageLeadSMSList * pageSizeValueLeadSMSList}} out of {{rowCount}}  enteries
                </div>
                <datatable-pager [pagerLeftArrowIcon]="'fa fa-angle-left'"
                                 [pagerRightArrowIcon]="'fa feather-chevron-left'"
                                 [pagerPreviousIcon]="'fa feather-chevrons-left'"
                                 [pagerNextIcon]="'fa fa-angle-double-right'"
                                 [page]="curPageLeadSMSList"
                                 [size]="pageSizeValueLeadSMSList"
                                 [count]="totalRecordsLeadSMS"
                                 [hidden]="!((rowCount / lstLeadSMS.pager.pageSize) > 1)"
                                 (change)="setLeadSMSPageNo($event)">
                </datatable-pager>
              </ng-template>
            </ngx-datatable-footer>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>-->
                            <!--==============================================================================================================================-->
                            <!--====================================================== Notes =============================================================-->
                            <!--<div class="panel active">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="#notes" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">
          <span>Notes ({{NotesCount}})</span>
        </a>
      </h4>
    </div>
    <div id="notes" class="panel-collapse collapse active show" style="">
      <a href="javascript:void(0);" class="btn-in-panel"
         (click)="AddNotes()" data-toggle="modal"><i class="feather-plus mr-2"></i> Add</a>

      <div class="panel-body p-2 mt-0">
        <div class="table-responsive ngxtbl">
          <ngx-datatable #table class="bootstrap table table-hover table-dynamic"
                         [rows]="NotespagedData.data"
                         [columnMode]="'force'"
                         [scrollbarH]="true"
                         [rowHeight]="'40'"
                         [headerHeight]="40"
                         [footerHeight]="40"
                         [externalPaging]="true"
                         [externalSorting]="true"
                         [loadingIndicator]="loadSave"
                         [count]="NotespagedData.pager.totalItems"
                         [offset]="currentPageAssignedRes"
                         [limit]="pageSizeValueAssignedResList"
                         (page)='setPageNotes($event)'
                         (sort)="onSortNotes($event)">

            <ngx-datatable-column name="Note Title" prop="note_name" [sortable]="true">

              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.note_name|truncate}}
              </ng-template>

            </ngx-datatable-column>
            <ngx-datatable-column name="Description" sortable="false" prop="note_description" [sortable]="true" [minWidth]="150">

              <ng-template let-row="row" ngx-datatable-cell-template>
                <div *ngIf='row.note_description!=null || row.note_description!=""'>
                  <span>{{row.note_description|truncate}}</span>
                </div>
                <div *ngIf='row.note_description==null || row.note_description==""'>
                  <span>N/A</span>
                </div>
              </ng-template>

            </ngx-datatable-column>
            <ngx-datatable-column name="Created By" sortable="false" prop="createdby" [minWidth]="150"></ngx-datatable-column>
            <ngx-datatable-column name="Created At" prop="created_on" sortable="true" [minWidth]="130">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.created_on | DateTimeToLocal}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Action" [sortable]="false" headerClass="text-center">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="text-center">
                  <a href="javascript:;" (click)="ViewNotes(row)" title="View Note"><i class="feather-eye pr-2"></i></a>
                  <a href="javascript:void(0);" (click)="EditNotes(row)" title="Edit Note"><i class="fa fa-pencil text-success pr-2"></i></a>
                  <a href="javascript:void(0);" (click)="DeleteNote(row,'AssignedResource')"><i title="Click to delete." class="feather-trash-2 text-danger"></i></a>
                </div>

              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer>
              <ng-template ngx-datatable-footer-template
                           let-rowCount="rowCount"
                           let-pageSize="NotespagedData.pager.pageSize"
                           let-selectedCount="selectedCount"
                           let-currentPage="NotespagedData.pager.currentPage"
                           let-offset="offset"
                           let-isVisible="isVisible">



                <div class="page-count" *ngIf='(rowCount  > 0)'>
                  Showing {{(NotespagedData.pager.currentPage - 1 )* NotespagedData.pager.pageSize + 1}}  to
                  {{
      (rowCount> (NotespagedData.pager.currentPage*NotespagedData.pager.pageSize))?(NotespagedData.pager.currentPage*NotespagedData.pager.pageSize):(rowCount)
                  }} out of {{rowCount}}  enteries
                </div>

                <datatable-pager [pagerLeftArrowIcon]="'fa fa-angle-left'"
                                 [pagerRightArrowIcon]="'fa feather-chevron-left'"
                                 [pagerPreviousIcon]="'fa feather-chevrons-left'"
                                 [pagerNextIcon]="'fa fa-angle-double-right'"
                                 [page]="NotespagedData.pager.currentPage"
                                 [size]="NotespagedData.pager.pageSize"
                                 [count]="NotespagedData.pager.totalItems"
                                 [hidden]="!((rowCount / NotespagedData.pager.pageSize) > 1)"
                                 (change)="setNotesPageNo($event)">
                </datatable-pager>
              </ng-template>

            </ngx-datatable-footer>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>-->
                            <!--<div class="panel active">-->
                            <!--<div class="panel-heading">
    <h4 class="panel-title">
      <a href="#notes" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">
        <span>Notes ({{NotesCount}}) </span>
      </a>
    </h4>
  </div>-->
                            <!--<div id="panelBodynine" class="panel-collapse active show p-0 border-0" data-parent="#accordion">




      <div id="notes" class="panel-collapse collapse active show">
        <a href="javascript:void(0);" class="btn-in-panel"
           (click)="AddNotes()" data-toggle="modal"><i class="feather-plus mr-2"></i> New</a>
        <app-newnoteslist #listnotesmodel subModuleName="lead" [AccountId]="accountId" [ObjectRefId]="leadId" (newItemEvent)="addItems($event)">

        </app-newnoteslist>

      </div>
    </div>
  </div>-->
                            <!--==============================================================================================================================-->
                            <!-----------------------Add Contact------------------------------->
                            <!--<div class="panel active">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="#addContact" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">
          <span>Contacts</span>
        </a>
      </h4>
    </div>
    <div id="addContact" class="panel-collapse collapse active show" style="">
      <a href="javascript:void(0);" class="btn-in-panel"
         *ngIf="is_converted != true" (click)="AddContact()"><i class="feather-plus mr-2"></i> New</a>
      <div class="panel-body p-2 mt-0">
        <div class="table-responsive ngxtbl">
          <ngx-datatable #table class="bootstrap"
                         [rows]="contactpagedData.data"
                         [scrollbarH]="true"
                         [rowHeight]="'40'"
                         [columnMode]="'force'"
                         [headerHeight]="40"
                         [footerHeight]="40"
                         [externalPaging]="true"
                         [externalSorting]="true"
                         [loadingIndicator]="loadSave"
                         [count]="contactpagedData.pager.totalItems"
                         [offset]="contactpagedData.pager.currentPage"
                         [limit]="contactpagedData.pager.pageSize"
                         (page)='setPageContact($event)'
                         (sort)="onSort($event)">



            <ngx-datatable-column name="Name" [sortable]="false" prop="Name" [minWidth]="150">


            </ngx-datatable-column>

            <ngx-datatable-column name="Email" sortable="false" prop="Email" [minWidth]="150"></ngx-datatable-column>

            <ngx-datatable-column name="Mobile" sortable="false" prop="MobilePhone" [minWidth]="150"></ngx-datatable-column>

            <ngx-datatable-column *ngIf="is_converted != true " [maxWidth]="200" headerClass="text-center" name="Action" [sortable]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="text-center">
                  <a *ngIf="is_converted != true" (click)="DeleteContact(row.id)" class="btn-delete"><i title="Click to delete." class="feather-trash-2 text-danger"></i></a>
                </div>

              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer>
              <ng-template ngx-datatable-footer-template
                           let-rowCount="rowCount"
                           let-pageSize="pageSize"
                           let-selectedCount="selectedCount"
                           let-currentPage="currentPage"
                           let-offset="offset"
                           let-isVisible="isVisible">
                <div class="page-count" *ngIf='(rowCount  > 0)'>
                  Showing {{(contactpagedData.pager.currentPage+1 - 1 )* pageSizeValueContact + 1}}  to {{contactpagedData.pager.currentPage+1 * pageSizeValueContact}} out of {{rowCount}}  enteries
                </div>
                <datatable-pager [pagerLeftArrowIcon]="'fa fa-angle-left'"
                                 [pagerRightArrowIcon]="'fa feather-chevron-left'"
                                 [pagerPreviousIcon]="'fa feather-chevrons-left'"
                                 [pagerNextIcon]="'fa fa-angle-double-right'"
                                 [page]="contactpagedData.pager.currentPage+1"
                                 [size]="pageSizeValueContact"
                                 [count]="contactpagedData.pager.totalItems"
                                 [hidden]="!((rowCount / pageSize) > 1)"
                                 (change)="setPageContact($event)">
                </datatable-pager>
              </ng-template>
            </ngx-datatable-footer>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>-->
                            <!----------------------------- End---------------->
                            <!--<app-files title="Files" moduleName="{{moduleName}}" submoduleName="{{submoduleName}}" primaryKey="{{Id}}"></app-files>

  </div>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--===================================================== NotesPopupModel =========================================================================-->
<div class="modal fade in show" bsModal #NotesPopupModel="bs-modal" tabindex="-1" role="dialog" style="display: none; padding-right: 10px;">
    <div class="modal-dialog modal-lg modal-info ">
        <div class="modal-content">
            <div class="modal-header" *ngIf="!isViewNote">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="closeNotesPopupModelPopup()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-header" *ngIf="isViewNote">
                <h4 class="modal-title">View NOTE</h4>
                <button type="button" class="close" (click)="closeNotesPopupModelPopup()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body" style="margin-bottom:10px; max-height:290px;">
                <form [formGroup]="addNoteForm" [ngClass]="{'disabled':loadSave}">
                    <div class="form-group" *ngIf="!isViewNote">
                        <div class="row mb-2">
                            <div class="col-md-12 col-lg-12">
                                <label>Note Title:<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Note Title" formControlName="noteTitle" maxlength="50" [ngClass]="{'is-invalid': (noteTitle.invalid && (noteTitle.dirty || noteTitle.touched) && (noteTitle.errors?.required || noteTitle.errors?.maxlength)) }">
                                    <small *ngIf="noteTitle.invalid && (noteTitle.dirty || noteTitle.touched) && noteTitle.errors?.required" class="text-danger">Note Title is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12 col-lg-12">
                                <label>Description:<span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <textarea rows="5" class="form-control" maxlength="500" style="min-height:120px;" placeholder="Enter Note Description" formControlName="noteDescription" [ngClass]="{'is-invalid': (noteDescription.invalid && (noteDescription.dirty || noteDescription.touched) && (noteDescription.errors?.required || noteDescription.errors?.maxlength)) }"></textarea>
                                    <small *ngIf="noteDescription.invalid && (noteDescription.dirty || noteDescription.touched) && noteDescription.errors?.required" style="color:red;">Description is required</small>
                                    <small *ngIf="noteDescription.invalid && (noteDescription.dirty || noteDescription.touched) && noteDescription.errors?.maxlength" style="color:red;">Notes must be less than 500 characters.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="isViewNote">
                        <div class="row">
                            <div class="col-md-4">
                                <label><b>Note Title:</b></label>
                                <span>&nbsp;{{notesTitle}}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="m-0"><b>Description:</b></label>
                                <span>&nbsp;{{notesDescription}}</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success form-btns" (click)="SaveNote()"><i
            class="feather-save text-white"></i> Save</button>
                <button type="submit" class="btn btn-danger form-btns" (click)="closeNotesPopupModelPopup()" data-dismiss="modal" aria-label="Close"><i class="fa fa-times text-white"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--=================================================== Contact add ==================================================================-->
<div bsModal #addContact="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" [ngClass]="{'disabled':loadSave}">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Contact</h4>

                <button type="button" class="close" (click)="closeContact()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body" style="margin-bottom:10px; max-height:600px;">
                <app-addcontact #addcontact12 [leadId]=leadId [islead]="islead" [ownerId]="ownerId" [solgenpower]="solgenpower" solgenpower=true (contactemit)="contactmsg(true)"></app-addcontact>
            </div>
        </div>
    </div>
</div>
<!--==============================================================================================================================-->

<app-leadconvertpopup #leadconvert></app-leadconvertpopup>
<!-- <app-makeappointment #makeappointment (appointmentRefresh)="appointmentRefresh()"></app-makeappointment> -->
