<div class="header float-left w-100 mb-2">
  <h2 class="float-left pr-2"><strong>Manage Proposal Template</strong></h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li>
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="active">Manage Proposal Template</li>
    </ol>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-lg-12 portlets">
    <div class="panel">
      <div class="panel-header border-bottom pb-3">
        <div class="row mt-2">

          <div class="col-md-6">
            <div class="row searchfield  mr-1 w-100">
              <div class="col-md-4 float-left">
                <input class="form-control input-sm" type="text" [(ngModel)]='searhName' placeholder="Search By Template Name" (keyup)='updateFilter($event)'>
              </div>
              <div class="col-md-8 float-left">
                <a class="btn btn-success form-btns mr-1" href="javascript:void(0);" (click)="SearchLease()"><span><i class="feather-search"></i> Search</span></a>
                <a class="btn btn-danger form-btns mr-2" href="javascript:void(0);" (click)="ResetSearch()"><span><i class="fa fa-refresh"></i> Reset</span></a>
                <a class="btn btn-white mr-1" href="javascript:void(0);" (click)="popUpOpen()"><span><i class="fa fa-filter"></i> Filter</span></a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="dt-buttons">
              <a class="btn btn-primary form-btns mr-1" href="javascript:void(0);" (click)="displayDetailDetail($event)"><span><i class="fa fa-list-alt"></i> Manage View</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-content px-3 pagination2 table-responsive no-padding">
        <ngx-datatable #table class="bootstrap table table-hover table-dynamic"
                       [rows]="pagedData.data"
                       [columnMode]="'force'"
                       [scrollbarH]="true"
                       [rowHeight]="'40'"
                       [headerHeight]="40"
                       [footerHeight]="40"
                       
                       [externalPaging]="true"
                       [externalSorting]="true"
                       [loadingIndicator]="loadSave"
                       [count]="pagedData.pager.totalItems"
                       [offset]="pagedData.pager.currentPage"
                       [limit]="pagedData.pager.pageSize"
                       (page)='setPage($event)'
                       (sort)="onSort($event)">
          <ngx-datatable-column name="Template Name" prop="TemplateName" [sortable]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>

              <div *ngIf="!row.LeaseGenerated">
                <a [routerLink]="['edit',row.TemplateId]">{{row.TemplateName}} </a>
              </div>
              <div *ngIf="row.LeaseGenerated">
                <a>{{row.TemplateName}} </a>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="View" [sortable]="false"  [maxWidth]="200" headerClass="text-center">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="text-center">
                <a href="javascript:void(0);" (click)="displayDetailDetail(row.TemplateContent)"><i class="feather-eye text-info" title="View"></i></a>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Status" prop="IsActive" sortable="false" headerClass="text-center"
                                *ngIf='modulePermission!==null && modulePermission.roleModuleUpdateFlag'  [maxWidth]="200" headerClass="text-center">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div *ngIf="!row.LeaseAssociated">
                <div class="text-center" *ngIf="row.IsActive == 0">
                  <a href="javascript:void(0);" (click)="enable(row)"><i title="Click to enable." class="fa fa-times text-danger icon_tick"></i></a>
                </div>
                <div class="text-center" *ngIf="row.IsActive == 1">
                  <a href="javascript:void(0);" (click)="disable(row)"><i title="Click to disable." class="feather-check text-success icon_tick"></i></a>
                </div>
              </div>
              <div *ngIf="row.LeaseAssociated">

              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="IsActive" prop="IsActive" sortable="false" headerClass="text-center"
                                *ngIf='!modulePermission!==null && !modulePermission.roleModuleUpdateFlag'  [maxWidth]="200" headerClass="text-center">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="text-center" *ngIf="row.IsActive == 0">
                <span><i class="fa fa-times text-danger icon_tick"></i></span>
              </div>
              <div class="text-center" *ngIf="row.IsActive == 1">
                <span><i class="feather-check text-success icon_tick"></i></span>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Delete" [sortable]="false" headerClass="text-center" *ngIf="modulePermission.roleModuleDeleteFlag"  [maxWidth]="200" headerClass="text-center">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="text-center" *ngIf="!row.LeaseAssociated">
                <a href="javascript:void(0);" (click)="deleteLeaseTemplatebyId(row)" class="btn-delete"><i title="Click to delete." class="feather-trash-2"></i></a>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template
                         let-rowCount="rowCount"
                         let-pageSize="pageSize"
                         let-selectedCount="selectedCount"
                         let-currentPage="currentPage"
                         let-offset="offset"
                         let-isVisible="isVisible">
              <div class="page-count" style="max-width:170px;">
                {{rowCount}} total
              </div>
              <div>
                <div style="color:black; margin-right:10px;" class="page-size-record">
                  <span style="text-align:right; width:80px;vertical-align: middle;">
                    <ng-select [searchable]="false" [items]="lstPageSize" appendTo="body" [(ngModel)]='pageSizeValue' dropzone="fixed" [clearable]="false" (change)="onChange($event)" draggable="false" [closeOnSelect]="true"
                               bindLabel="text" bindValue="text"></ng-select>
                  </span>
                </div>
              </div>
              <datatable-pager [pagerLeftArrowIcon]="'fa feather-chevrons-left'"
                               [pagerRightArrowIcon]="'fa fa-angle-double-right'"
                               [pagerPreviousIcon]="'fa fa-angle-left'"
                               [pagerNextIcon]="'fa feather-chevron-left'"
                               [page]="pagedData.pager.currentPage+1"
                               [size]="pageSizeValue"
                               [count]="pagedData.pager.totalItems"
                               [hidden]="!((rowCount / pageSize) > 1)"
                               (change)="setPage($event)">
              </datatable-pager>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>

      </div>
      <app-loader [size]=60 [color]="'white'" *ngIf="loadSave" class="loader"></app-loader>
    </div>
  </div>
</div>
<app-managetemplatedetail #temlateDetailModal></app-managetemplatedetail>
