<section class="page">
  <!-- Breadcrumb-->
  <div class="breadcrumb-holder">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 mt-3">
          <span class="dash">Dashboard</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Section-->
  <section class="dashboard-header section-padding">
    <div class="container-fluid"  >
      <div class="row d-flex align-items-md-stretch" [ngClass]="{'disabled':loadtop}">

        <div class="col-md-12 col-lg-6 col-xl-4" *ngIf='modulePermission!==null && modulePermission.roleModuleReadFlag'>
          <div class="stattics-data first-color w-100 mb-3" routerLink="/contact">
            <div class="stattics-data-left">
              <span class="display-5 mt-2"> Total Contacts</span>
            </div>
            <div class="stattics-data-right">
              <span class="display-4 mt-2 float-left ml-auto"><i class="fa fa-address-book"></i></span>
              <span class="display-4 mt-2 float-right">{{dashboardCounts.totalContact}}</span>
              
              <app-loader [size]=60 [color]="'white'" *ngIf="loadtop" class="loader-popup"></app-loader>
            </div>

          </div>
        </div>

        <div class="col-md-12 col-lg-6 col-xl-4" *ngIf='moduleLeasePermission!==null && moduleLeasePermission.roleModuleReadFlag'>
          <div class="stattics-data third-color w-100 mb-3" routerLink="/lease"  [queryParams]="{statusId: 'e09571ea-2f5c-4ccf-b693-d72776a56dd4'  }">
            <div class="stattics-data-left">
              <span class="display-5 mt-2">Total Proposals</span>
            </div>
            <div class="stattics-data-right">
              <span class="display-4 mt-2 float-left ml-auto"><i class="fa fa-clipboard-list"></i></span>
              <span class="display-4 mt-2 float-right">{{dashboardCounts.totalLease}}</span>
              
              <app-loader [size]=60 [color]="'white'" *ngIf="loadtop" class="loader-popup"></app-loader>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-6 col-xl-4" *ngIf='moduleLeasePermission!==null && moduleLeasePermission.roleModuleReadFlag'>
          <div class="stattics-data fourth-color w-100 mb-3" [routerLink]="['/lease']" [queryParams]="{statusId: 'f9ec1ccd-9444-4c67-9591-bc99f784c415'  }" routerLink="/lease">
            <div class="stattics-data-left">
              <span class="display-5 mt-2">Active Proposals</span>
            </div>
            <div class="stattics-data-right">
              <span class="display-4 mt-2 float-left ml-auto"><i class="fa fa-clipboard-check"></i></span>
              <span class="display-4 mt-2 float-right">{{dashboardCounts.activeLease}}</span>
              
              <app-loader [size]=60 [color]="'white'" *ngIf="loadtop" class="loader-popup"></app-loader>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-6 col-xl-4" *ngIf='modulePaymentQuotePermission!==null && modulePaymentQuotePermission.roleModuleAddFlag'>
          <div class="stattics-data fifth-color w-100 mb-3" routerLink="/paymentquote/add">
            <div class="stattics-data-left">
              <span class="display-5 mt-2">Generate Payment Quote</span>
            </div>
            <div class="stattics-data-right">
              <span class="display-4 mt-2 float-left ml-auto"><i class="far fa-money-bill-alt"></i></span>
              <span class="display-4 mt-2 float-right"></span>
              
              <app-loader [size]=60 [color]="'white'" *ngIf="loadtop" class="loader-popup"></app-loader>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-6 col-xl-4" *ngIf='modulePermission!==null && modulePermission.roleModuleAddFlag'>
          <div class="stattics-data sixth-color w-100 mb-3" routerLink="/contact/addcontact">
            <div class="stattics-data-left">
              <span class="display-5 mt-2">Add New Contact</span>
            </div>
            <div class="stattics-data-right">
              <span class="display-4 mt-2 float-left ml-auto"><i class="fa fa-user-plus"></i></span>
              <span class="display-4 mt-2 float-right"></span>
              
              <app-loader [size]=60 [color]="'white'" *ngIf="loadtop" class="loader-popup"></app-loader>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-6 col-xl-4" *ngIf='moduleLeasePermission!==null && moduleLeasePermission.roleModuleAddFlag'>
          <div class="stattics-data seventh-color w-100 mb-3" routerLink="/lease/addlease">
            <div class="stattics-data-left">
              <span class="display-5 mt-2">Add Proposal</span>
            </div>
            <div class="stattics-data-right">
              <span class="display-4 mt-2 float-left ml-auto"><i class="fas fa-file-medical"></i></span>
              <span class="display-4 mt-2 float-right"></span>
              
              <app-loader [size]=60 [color]="'white'" *ngIf="loadtop" class="loader-popup"></app-loader>
            </div>
          </div>
        </div>

        <div class="col-12 mt-4">
          <div class="bg-white border rounded">
            <div class="col-12">
              <div class="row">
                <div class="col-md-12 mt-4">
                  <h3 class="heading">
                    Notifications
                    <a style="float:right" [routerLink]="['/notifications']"><i class="feather-eye text-info" title="View All Notifications"> View All</i></a>
                  </h3>
                  <div class="overflow-auto">
                    <ngx-datatable class="bootstrap"
                                   [rows]="listNotification"
                                   [columnMode]="'force'"
                                   [externalPaging]="false"
                                   [externalSorting]="false"
                                   [count]="10"
                                   (page)='10'
                                      [scrollbarH]="true"
                       [rowHeight]="'40'"
                                   [headerHeight]="40"
                                   >

                      <ngx-datatable-column name="Sender Name" prop="senderName" [sortable]="true" headerClass="thead-dark">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <!--<span *ngIf="row.IsRead" style="display:none">{{row.senderName}}</span>-->
                            <span *ngIf="!row.IsRead" class="font-weight-bold">{{row.senderName}}</span>
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column name="Subject" prop="Subject" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <!--<span *ngIf="row.IsRead" [innerHtml]="row.Subject" style="display:none"></span>-->
                         
                            <span  *ngIf="!row.IsRead" [innerHtml]="row.Subject" class="font-weight-bold"></span>
                          
                         
                        </ng-template>
                      </ngx-datatable-column>


                      <ngx-datatable-column name="View" [sortable]="false" headerClass="text-center">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <div class="icon-text-center" *ngIf="!row.IsRead">
                            <a href="javascript:void(0);" (click)="displayDetail(row)"><i class="feather-eye text-info" title="View"></i></a>
                          </div>

                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Date" prop="CreatedOn" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                         
                            <!--<span *ngIf="row.IsRead" style="display:none">{{row.CreatedOn | date: 'MM-dd-yyyy hh:mm:ss a'}}</span>-->
                            <span *ngIf="!row.IsRead" class="font-weight-bold">{{row.CreatedOn | date: 'MM-dd-yyyy hh:mm:ss a'}}</span>
                            
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 mt-4" *ngIf="moduleLeasePermission.roleModuleReadFlag">
          <div class="bg-white border rounded">
            <div class="col-12">
              <div class="row">
                <div class="col-md-12 mt-4 chart-container">
                  <h3 class="heading">Proposal Over Month Graph</h3>
                  <p-chart type="bar" [data]="data" width="400" height="400" [options]="options" [responsive]="true"></p-chart>
                  <h3 style="text-align:center">--Months--</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--white-main-div-->
    </div>

  </section>
</section>

<app-notificationdetail #dashboarNotificationDetailModal></app-notificationdetail>
