
<div class="header float-left w-100 mb-2 d-flex">
  <div class="col-md-6 pl-0">
    <h2 class="float-left pr-2 w-100"><strong>MANAGE QUEUE</strong></h2>
    <div class="breadcrumb-wrapper w-100">
      <ol class="breadcrumb">
        <li>
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="active">Manage Queue</li>
      </ol>
    </div>
  </div>
  <div class="col-md-6 text-right right pr-0">
    <a href="javascript:;" class="btn btn-primary" data-toggle="modal" data-target="#headerswtichuser"><i class="feather-repeat mr-1"></i>Switch Company</a>
  </div>
</div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-lg-12 portlets">
      <div class="panel">
        <div class="panel-header border-bottom ">
            <div class="row my-2 align-items-end">
                <div class="col-md-12 col-xl-7 pr-3 pr-lg-0">
                  <div class="row searchfield align-items-end">
                    <div class="col-lg-4 float-left mb-lg-0 mb-2">
                      <input class="form-control input-sm" type="text" [(ngModel)]='listFilter' placeholder="Search by Queue Name" (keyup)='updateFilter($event)'>
                    </div>
                    <div class="col-md-8 float-left pl-3 pl-lg-0">
                      <a class="btn btn-dark form-btns mr-2" href="javascript:void(0);" (click)="search()" tooltip="Search"><span><i class="feather-search mr-1"></i> Search</span></a>
                      <a class="btn btn-white form-btns " href="javascript:void(0);" (click)="reset()" tooltip="Reset"><span><i class="feather-repeat mr-1"></i> Reset</span></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-xl-5">
                  <div class="dt-buttons noabso-res">
                      <a routerLink="/queues/addqueue" class="btn btn-success form-btns  mr-2 smview" tooltip="Add Queue"><i class="feather-plus mr-1"></i> Add</a>
                      <a class="btn btn-danger form-btns" href="javascript:void(0);" (click)="deleteAll()" tooltip="Delete"><span><i class="feather-trash-2 mr-1"></i> Delete</span></a>
                  </div>
                </div>
              </div>
        </div>
        <div class="panel-content px-3 pagination2 table-responsive no-padding">
          <div class="header-chart mb-1">Queue</div>
          <ngx-datatable #table class="bootstrap table table-hover table-dynamic"
                         [rows]="pagedData.data"
                         [columnMode]="'force'"
                         [scrollbarH]="true"
                         [rowHeight]="'40'"
                         [headerHeight]="40"
                         [footerHeight]="40"
                         [externalPaging]="true"
                         [externalSorting]="true"
                         [loadingIndicator]="loadSave"
                         [count]="pagedData.pager.totalItems"
                         [offset]="pagedData.pager.currentPage"
                         [limit]="pagedData.pager.pageSize"
                         (page)='setPage($event)'
                         (sort)="onSort($event)"
                         [selectionType]="SelectionType.checkbox"
                         [selectAllRowsOnPage]="false"
                         [selected]="selected"
                         (select)="onSelect($event)">
            <ngx-datatable-column [width]="42"
                                  [sortable]="false"
                                  [canAutoResize]="false"
                                  [draggable]="false"
                                  [resizeable]="false"
                                  [headerCheckboxable]="true"
                                  [checkboxable]="true"
                                  [cellClass]="getIsShowColName">
            </ngx-datatable-column>

            <ngx-datatable-column name="Queue Name" prop="QueueName" [sortable]="true">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div><a [routerLink]="['/queues/editqueue',row.Id]" title="Edit Queue">{{row.QueueName }} </a></div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Description" [sortable]="true" prop="Description"></ngx-datatable-column>
            <ngx-datatable-column name="Object Name" [sortable]="true" prop="SubModuleName"></ngx-datatable-column>
            <ngx-datatable-column name="Created By" [sortable]="true" prop="CreatedBy"></ngx-datatable-column>
            <!-- <ngx-datatable-column name="Created Date" [sortable]="true" prop="CreatedAt"></ngx-datatable-column> -->
            <ngx-datatable-column name="Created Date" prop="CreatedAt" [sortable]="true">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div title="{{row.CreatedAt}}">
                  {{row.CreatedAt | DateTimeToLocal}}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" prop="StatusId" sortable="false">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <!-- <div class="text-center" *ngIf="row.StatusId == 1002">
                  <div class="status-box" style="background-color: #dc3545;max-width:150px !important">In-Active</div>
                </div>
                <div class="text-center" *ngIf="row.StatusId == 1001">
                  <div class="status-box" style="background-color: #28a745;max-width:150px !important">Active</div>
                </div> -->

                <div class="text-center">
                  <span class="status-box bg-success" *ngIf="row.StatusId == 1001">Active</span>
                  <span class="status-box bg-danger"  *ngIf="row.StatusId == 1002">InActive</span>
                </div>
              </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column [width]="80" name="Action" [sortable]="false" [maxWidth]="200" headerClass="text-center">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="text-center">
                  <!-- <a  class="actions-onclick view-list" class="btn-edit " [routerLink]="['/queues/view',row.Id]"  title="View Detail"><i class="feather-eye pr-2 "></i></a> -->
                  <a *ngIf="row.IsFromSubModule" class="btn-edit " href="javascript:void(0);" [routerLink]="['/queues/editqueue',row.Id]"><i title="Edit Queue" class="feather-edit-2 text-success pr-2"></i></a>
                  <a *ngIf="!row.IsFromSubModule" class="btn-edit" href="javascript:void(0);" [routerLink]="['/queues/editqueue',row.Id]"><i title="Edit Queue" class="feather-edit-2 text-success pr-2"></i></a>

                  <a *ngIf="row.IsFromSubModule" class="btn-edit disabled" href="javascript:void(0);"><i class="feather-trash-2 text-secondary pr-2" title="Delete Form"></i></a>
                  <a *ngIf="!row.IsFromSubModule && row.StatusId == 1002" (click)="Delete(row)" class="btn-edit" href="javascript:void(0);"><i class="feather-trash-2 text-danger pr-2" title="Delete Queue"></i></a>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer>
              <ng-template ngx-datatable-footer-template
                           let-rowCount="rowCount"
                           let-pageSize="pageSize"
                           let-selectedCount="selectedCount"
                           let-currentPage="currentPage"
                           let-offset="offset"
                           let-isVisible="isVisible">
                <div>
                  <div style="color:black; margin-right:10px;" class="page-size-record">
                    <span style="text-align:right; width:80px;vertical-align: middle;">
                      <ng-select [searchable]="false" [items]="lstPageSize" appendTo="body" [(ngModel)]='pageSizeValue' dropzone="fixed" [clearable]="false" (change)="onChange($event)" draggable="false" [closeOnSelect]="true"
                                 bindLabel="text" bindValue="text"></ng-select>
                    </span>
                  </div>
                </div>
                <div class="page-count" *ngIf='(rowCount  > 0)'>

                    {{commonService.PageString(pagedData.pager.currentPage+1,pageSizeValue,rowCount)}}
                </div>



                    <!--<div class="page-count">
                    Showing {{(pagedData.pager.currentPage )* pagedData.pager.pageSize + 1}}  to {{(pagedData.pager.currentPage+1) * pagedData.pager.pageSize}} out of {{rowCount}}  enteries
                    </div>     "pagedData.pager.currentPage+1"-->
                <datatable-pager [pagerLeftArrowIcon]="'feather-chevrons-left'"
                                 [pagerRightArrowIcon]="'feather-chevrons-right'"
                                 [pagerPreviousIcon]="'feather-chevron-left'"
                                 [pagerNextIcon]="'feather-chevron-right'"
                                 [page]="pagedData.pager.currentPage+1"
                                 [size]="pageSizeValue"
                                 [count]="pagedData.pager.totalItems"
                                 [hidden]="!((rowCount / pageSize) > 1)"
                                 (change)="setPage($event)">
                </datatable-pager>
              </ng-template>
            </ngx-datatable-footer>
          </ngx-datatable>
        </div>
        <app-loader [size]=60 [color]="'white'" *ngIf="loadSave" class="loader-popup"></app-loader>
      </div>
    </div>
  </div>
