/*/*@keyframes ui-progress-spinner-color {
  100%, 0% {
    stroke: #393535 !important;
  }

  40% {
    stroke: #393535 !important;
  }

  66% {
    stroke: #393535 !important;
  }

  80%, 90% {
    stroke: #393535 !important;
  }
}*/
