<div bsModal #dashboarNotificationDetailModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-info ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Message</h4>
        <button type="button" class="close" (click)="close()">&times;</button>
      </div>
      <div class="modal-body" style="overflow:auto; margin-bottom:10px;">
        <div class="col-md-12">
          <div class="row">

            <div class="table-responsive mt-2 cus-notification" *ngIf="dataNoti!=null">
              <p [innerHTML]="dataNoti.Message"></p> <br>  {{dataNoti.CreatedOn | date: 'MM-dd-yyyy hh:mm:ss a'}}
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger form-btns" (click)="close()" data-dismiss="modal" aria-label="Close"><i class="fa fa-times text-white"></i>Close</button>
      </div>
    </div>
  </div>
</div>
