<section class="page">
  <!-- Breadcrumb-->
  <div class="breadcrumb-holder">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 mt-3">
          <span class="dash">Dashboard</span>
        </div>
        <div class="col-lg-2 mt-3">
          <div class="input-group">
            <label class="switch mr-4 mt-1">
              <input type="checkbox" checked="">
              <span class="slider round"><span>KWs</span></span>
            </label>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" Value="This Week">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="dashboard-header section-padding">
    <div class="container-fluid">
      <div class="row align-items-md-stretch mt-3">
        <div class="d-flex col-12 w-100">
          <div class="dashboard-box">
            <div class="stattics-data first-color w-100">
              <div class="stattics-data-left"><span>40</span></div>
              <div class="stattics-data-right"><span class="float-left ml-auto icon-dash"><i class="fa fa-user"></i></span><span>Total Agreements</span></div>
            </div>
          </div>

          <div class="dashboard-box">
            <div class="stattics-data second-color w-100">
              <div class="stattics-data-left"><span>23</span></div>
              <div class="stattics-data-right"><span class="float-left ml-auto icon-dash"><i class="fa fa-chart-line"></i></span><span>NTP Pending</span></div>
            </div>
          </div>

          <div class="dashboard-box">
            <div class="stattics-data third-color w-100">
              <div class="stattics-data-left"><span>17</span></div>
              <div class="stattics-data-right"><span class="float-left ml-auto icon-dash"><i class="fa fa-dollar"></i></span><span>Pending Funds</span></div>
            </div>
          </div>

          <div class="dashboard-box">
            <div class="stattics-data fourth-color w-100">
              <div class="stattics-data-left"><span>16</span></div>
              <div class="stattics-data-right"><span class="float-left ml-auto icon-dash"><i class="fa fa-calendar"></i></span><span>Appointments</span></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-lg-3">
          <div class="bg-white p-3 border h-100">
            <label class="m-label-s">NTP Pending</label>
            <h6>Customer Wise</h6>
            <div class="graph text-center">
              <img src="../../../../assets/default-theme/images/graph4.png" />
            </div>
          </div>
        </div>
        <div class="col-lg-4 px-md-0">
          <div class="bg-white p-3 border h-100">
            <label class="m-label-s">Pending Fund</label>
            <div class="graph text-center">
              <img src="../../../../assets/default-theme/images/graph5.jpg" />
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="bg-white p-3 border h-100">
            <label class="m-label-s">NTP Pending</label>
            <h6>Lender Wise</h6>
            <div class="graph text-center">
              <img src="../../../../assets/default-theme/images/graph6.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-6">
          <div class="bg-t-blue p-3 dashboard-table">
            <h3 class="heading">Today's Tasks <a href="javascript:void(0);" class="float-right">View All</a></h3>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Task Name</th>
                    <th>Assigned User</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Follow up with Anna</td>
                    <td>Andrew</td>
                    <td>12:00 PM</td>
                  </tr>
                  <tr>
                    <td>New Installation</td>
                    <td>Damerica</td>
                    <td>1:30 PM</td>
                  </tr>
                  <tr>
                    <td>Repair Solar System</td>
                    <td>Jason</td>
                    <td>4:00 PM</td>
                  </tr>
                  <tr>
                    <td>Follow up with Anna</td>
                    <td>Kyle</td>
                    <td>6:00 PM</td>
                  </tr>
                  <tr>
                    <td>Follow up with Sam</td>
                    <td>Victor</td>
                    <td>7:00 PM</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="bg-white p-3 dashboard-table border">
            <h3 class="heading">Today's Appointments <a href="javascript:void(0);" class="float-right text-dark">View All</a></h3>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Appointment</th>
                    <th>Assigned User</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Site Audit</td>
                    <td>Andrew</td>
                    <td>12:00 PM</td>
                  </tr>
                  <tr>
                    <td>Install</td>
                    <td>Damerica</td>
                    <td>1:30 PM</td>
                  </tr>
                  <tr>
                    <td>Initial Call</td>
                    <td>Jason</td>
                    <td>4:00 PM</td>
                  </tr>
                  <tr>
                    <td>Site Visit</td>
                    <td>Kyle</td>
                    <td>6:00 PM</td>
                  </tr>
                  <tr>
                    <td>Close Opportunity</td>
                    <td>Victor</td>
                    <td>7:00 PM</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>





    </div>
  </section>
</section>




<!--<section class="page">
  <div class="breadcrumb-holder">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 mt-3">
          <span class="dash">Dashboard</span>
        </div>
      </div>
    </div>
  </div>
  <section class="dashboard-header section-padding">
    <div class="container-fluid">
      <div class="row d-flex align-items-md-stretch" [ngClass]="{'disabled':loadtop}">

        <div class="col-md-12 col-lg-6 col-xl-3" *ngIf='modulePermission!==null && modulePermission.roleModuleReadFlag'>
          <div class="stattics-data first-color w-100 mb-3" [routerLink]="['/lease/inprogresslease']">
            <div class="stattics-data-left">
              <span class="display-5 mt-2"> Total Proposal</span>
            </div>
            <div class="stattics-data-right">
              <span class="display-4 mt-2 float-left ml-auto"><i class="fa fa-clipboard-list"></i></span>
              <span class="display-4 mt-2 float-right">{{dashboardCounts.totalLease}}</span>
              <app-loader [size]=60 [color]="'white'" *ngIf="loadtop" class="sidebar-loader"></app-loader>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-6 col-xl-3" *ngIf='modulePermission!==null && modulePermission.roleModuleReadFlag'>
          <div class="stattics-data third-color w-100 mb-3" [routerLink]="['/lease/inprogresslease']" [queryParams]="{ statusId: '1dd74585-e8ea-4afc-bd36-9a17517b7fd4'  }">
            <div class="stattics-data-left">
              <span class="display-5 mt-2">Approved Proposal</span>
            </div>
            <div class="stattics-data-right">
              <span class="display-4 mt-2 float-left ml-auto"><i class="fa fa-thumbs-up"></i></span>
              <span class="display-4 mt-2 float-right">{{dashboardCounts.approvedLease}}</span>
              <app-loader [size]=60 [color]="'white'" *ngIf="loadtop" class="sidebar-loader"></app-loader>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-6 col-xl-3" *ngIf='modulePermission!==null && modulePermission.roleModuleReadFlag'>
          <div class="stattics-data fifth-color w-100 mb-3" [routerLink]="['/lease/inprogresslease']" [queryParams]="{ statusId: '1dd74585-e8ea-4afc-bd36-9a17517b7fd5'  }">
            <div class="stattics-data-left">
              <span class="display-5 mt-2">InProgress Proposal</span>
            </div>
            <div class="stattics-data-right">
              <span class="display-4 mt-2 float-left ml-auto"><i class="fa fa-thumbs-up"></i></span>
              <span class="display-4 mt-2 float-right">{{dashboardCounts.activeLease}}</span>
              <app-loader [size]=60 [color]="'white'" *ngIf="loadtop" class="sidebar-loader"></app-loader>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-6 col-xl-3" *ngIf='modulePermission!==null && modulePermission.roleModuleReadFlag'>
          <div class="stattics-data fourth-color w-100 mb-3" [routerLink]="['/leasefundingpackage']">
            <div class="stattics-data-left">
              <span class="display-5 mt-2">Funding Packages</span>
            </div>
            <div class="stattics-data-right">
              <span class="display-4 mt-2 float-left ml-auto"><i class="fa fa-thumbs-up"></i></span>
              <span class="display-4 mt-2 float-right">{{dashboardCounts.sentLease}}</span>
              <app-loader [size]=60 [color]="'white'" *ngIf="loadtop" class="sidebar-loader"></app-loader>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12 col-lg-12 col-xl-6 mb-4">
          <div class="bg-white border rounded">
            <div class="col-12">
              <div class="row">
                <div class="col-md-12 mt-4">
                  <h3 class="heading">
                    Notifications
                    <a style="float:right" [routerLink]="['/notifications']"><i class="feather-eye text-info" title="View All Notifications"> View All</i></a>
                  </h3>
                  <div class="overflow-auto">
                    <ngx-datatable class="bootstrap"
                                   [rows]="listNotification"
                                   [columnMode]="'force'"
                                   [externalPaging]="false"
                                   [externalSorting]="false"
                                   [count]="10"
                                   (page)='10'
                                   [headerHeight]="40"
                                   [rowHeight]="'auto'"
                                   >
                      <ngx-datatable-column name="Sender Name" prop="senderName" [sortable]="true" headerClass="thead-dark">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <span *ngIf="!row.IsReadBank" class="font-weight-bold">{{row.senderName}}</span>
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column name="Subject" prop="Subject" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <span *ngIf="!row.IsReadBank" [innerHtml]="row.Subject" class="font-weight-bold"></span>
                        </ng-template>
                      </ngx-datatable-column>


                      <ngx-datatable-column name="View" [sortable]="false" headerClass="text-center">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <div class="icon-text-center" *ngIf="!row.IsReadBank">
                            <a href="javascript:void(0);" (click)="displayDetail(row)"><i class="feather-eye text-info" title="View"></i></a>
                          </div>

                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Date" prop="CreatedOn" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <span *ngIf="!row.IsReadBank" class="font-weight-bold">{{row.CreatedOn | date: 'MM-dd-yyyy hh:mm:ss a'}}</span>
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12 col-lg-12 col-xl-6 mb-4" *ngIf="showLease">
          <div class="bg-white border rounded">
            <div class="col-12">
              {{listLeases}}
              <div class="row">
                <div class="col-md-12 mt-4">
                  <h3 class="heading">New Proposal</h3>
                  <div class="overflow-auto">
                    <ngx-datatable class="bootstrap"
                                    [rows]="pagedData.data"
                                   [columnMode]="'force'"
                                   [externalPaging]="false"
                                   [externalSorting]="false"
                                   [count]="10"
                                   (page)='10'
                                   [headerHeight]="40"
                                   [rowHeight]="'auto'"
                                   [loadingIndicator]="loadingActiveLeases"
                                   >
                      <ngx-datatable-column [width]="80" name="Proposal#" prop="LeaseNumber" [sortable]="true" *ngIf="modulePermission.roleModuleReadFlag">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <a [routerLink]="['/lease/editlease',row.LeaseId]">{{row.LeaseNumber }}</a>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Proposal Status" prop="LeaseStatus" [sortable]="true" headerClass="thead-dark">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <div *ngIf="row.LeaseStatus ==='Approved for Purchase'">Approved for Purchase</div>
                          <div *ngIf="row.LeaseStatus !=='Approved for Purchase'">InProgress Proposal</div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Business Name" prop="BusinessName" [sortable]="true" headerClass="thead-dark"></ngx-datatable-column>

                      <ngx-datatable-column name="Created Date" prop="LeaseCreatedOn" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.LeaseCreatedOn | date: 'MM-dd-yyyy hh:mm:ss a'}}
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</section>

<app-notificationdetail #dashboarNotificationDetailModal></app-notificationdetail>-->
