
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Sales Price:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b>$31,913.33</b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Cash Down:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b>$0.00</b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Net Trade:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b>$0.00</b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Rebate:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b>$0.00</b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Unpaid Balance:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b>$0.00</b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Service Contracts:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b>$0.00</b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Gap:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b>$0.00</b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Amount Financed:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b>$0.00</b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Term</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b></b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">APR:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b>%</b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">Payment:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b>$0.00</b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">LTV:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b>0%</b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">PTI:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b>0%</b></div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="col-6 mb-2 pb-2 border-bottom float-left">DTI:</div>
        <div class="col-6 mb-2 pb-2 border-bottom float-left"><b>0%</b></div>
      </div>
    </div>
  </div>

