<div [formGroup]="textField">
  <div class="row">
    <div class="col-12">
      <!-- <textarea
      style="overflow: hidden;"
      formControlName="displayName"
      [placeholder]="textField.get('placeHolder').value"
      class="form-control"
      [ngStyle]="textField.get('style').value"
      [appAutofocus]="focus"
      (input)="validation()"
      ></textarea> -->
      <div data-toggle="modal" [attr.data-target]="'#exampleModal' + textField.get('id').value">
        <i class="fa fa-pencil-square-o"></i><span>Click to add a Key</span>
      </div>
      <div>
       <span> Display Name: </span>
       <input type="text" [value]="textField.get('fieldName').value" readonly/>
       <br/>
       <span>Place Holder: </span>
       <input type="text" [value]="textField.get('placeHolder').value" readonly/>
       <br/>
       <span> Default Value: </span>
       <input type="text" [value]="textField.get('defaultValue').value" readonly/>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    [id]="'exampleModal' + textField.get('id').value"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
    bsModal
    #modal="bs-modal"
    [config]="{ backdrop: 'static' }"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Key Value</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="display: grid">
          <div class="row">
            <div class="col-6 form-group">
              <label class="label-style">Display Name</label>
              <input type="text" formControlName="fieldName" class="form-control" />
            </div>
            <div class="col-6 form-group">
              <label class="label-style">Palce Holder</label>
              <input type="text" formControlName="placeHolder" class="form-control" />
            </div>
          </div>
          <div class="row">
            <div class="col-12 form-group">
              <label class="label-style">Default Value</label>
              <input type="text" formControlName="defaultValue" class="form-control" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger form-btns" aria-label="Close" data-dismiss="modal" (click)="close()">
            <i class="fa fa-times text-white"></i> Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <span style="padding: 5px;" *ngIf="customTooltip">{{tooltipText}}</span> -->


