<!-- Breadcrumb-->

<app-breadcrumb *ngIf="!loadSave"  [data]="contentHeader"></app-breadcrumb>
<!-- <div class="header float-left w-100 mb-2 d-flex">
  <div class="col-md-6 pl-0">
    <h2 class="float-left pr-2 w-100"> <strong>Designation</strong></h2>
    <div class="breadcrumb-wrapper w-100">
      <ol class="breadcrumb">
        <li>
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="active">Designation</li>
      </ol>
    </div>
  </div>
  <div class="col-md-6 text-right right pr-0">
    <a href="javascript:;" class="btn btn-primary"  data-toggle="modal" data-target="#headerswtichuser"><i class="fa fa-sign-in mr-1"></i>Switch Company</a>
  </div>
</div> -->
<div class="clearfix"></div>
<div class="row">
  <div class="col-lg-12 portlets">
    <div class="panel">
        <lib-dynamic-list *ngIf="load" [jsoninput]="jsonDatapack" [currentPage]="currentPage" [pageSizeValue]="pageSizeValue" [lstPageSize]="lstPageSize"
                      (MainMethod)="MainMethod($event)" (curPageemit)="curPageemit($event)" [sortDir]="sortDir" [sortColumn]="sortColumn"
                      primaryid="Id" (selectdata)="selectdata($event)" [companytype]="companyType" (goToPage)="goToPage($event)" [jsoncondition]="jsoncondition"
                      [actionarray]="actionarray" [listFilter]="listFilter" [myCheckboxemit]="myCheckbox" [vewId]="vewId"
                      [manageviewList]="pagedData.data" (updateFilter)="updateFilter($event)" (displayDetailDetail)="displayDetailDetail($event)"
                      (search)="search()" (reset)="reset()" (add)="add()" (deleteAll)="deleteAll()" (switchClicked)="switchClicked($event)"
                     [placeholder]="placeholder" (filterpopup)="filterpopup()" (SetManageViewValue)="SetManageViewValue($event)"
                          [isAdd]="isAdd" [isUpdate]="isUpdate" [isDelete]="isDelete" Showheader="true" [userinfodata] = "userinfodata" [searchlabelName]="searchlabelName" [listLabelName]="listLabelName">
        </lib-dynamic-list>
        <app-loader [size]=60 [color]="'white'" *ngIf="loading" class="loader-popup"></app-loader>
    </div>
  </div>
</div>
<app-searchfilteradd (searchFilterCondition)="ApplyAdvanceFilter($event)" #templateFilterView moduleName="users" subModuleName="designation"></app-searchfilteradd>
<app-manageview (customViewid)="GetcustomViewid($event)" #templateManageView moduleName="users" subModuleName="designation"></app-manageview>
