<section class="page">
  <!-- Breadcrumb-->
  <div class="breadcrumb-holder">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 mt-3">
          <span class="dash"><span class="pr-img"><img src="assets/images/starcy.jpg" /></span> Starcy Martin</span>
        </div>
        <div class="col-lg-2 mt-3 text-blue text-right text-semibold">
          SINCE INCEPTION: 8 DAYS
        </div>
        </div>
      </div>
  </div>

  <section class="dashboard-header section-padding">
    <div class="container-fluid">
      <div class="row d-flex align-items-md-stretch">
        <div class="col-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link " id="home-tab" data-toggle="tab" href="#sales" role="tab" aria-controls="sales" aria-selected="true"><span class="round-no mr-2">1</span> Sales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#financing" role="tab" aria-controls="financing" aria-selected="false"><span class="round-no mr-2">2</span> Financing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#operation" role="tab" aria-controls="operation" aria-selected="false"><span class="round-no mr-2">3</span> Operations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#financing" role="tab" aria-controls="financing" aria-selected="false"><span class="round-no mr-2">4</span> Closed</a>
            </li>
            <li class="flex-grow-1 text-right mb-0 d-flex align-items-center justify-content-end"><a href="#" class="btn btn-primary btn-sm rounded"><i class="feather-check"></i> Mark Stage as Complete</a></li>
          </ul>
        <div class="tab-content p-0" id="myTabContent">
          <div class="tab-pane fade " id="sales" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-3">
                <div class="p-4">Coming Soon</div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="financing" role="tabpanel" aria-labelledby="profile-tab"><div class="p-4">Coming Soon</div></div>
          <div class="tab-pane fade show active" id="operation" role="tabpanel" aria-labelledby="contact-tab">
            <div class="p-3 bg-white border">
              <ul class="step d-flex">
                <li class="step-item">
                  <a href="#"><span class="step-no bg-primary"><i class="feather-check"></i></span></a><br>
                  <span class="step-name">SITE SURVEY</span>
                  <span class="step-date">6/10/2020 (3 Days)</span>
                </li>
                <li class="step-item">
                  <a href="#"><span class="step-no bg-primary"><i class="feather-check"></i></span></a><br>
                  <span class="step-name">ENGINEERING</span>
                  <span class="step-date">6/14/2020 (5 Days)</span>
                </li>
                <li class="step-item">
                  <a href="#"><span class="step-no bg-dark">3</span></a><br>
                  <span class="step-name">ICP</span>
                  <span class="step-date">6/19/2020 (In-Progress)</span>
                </li>
                <li class="step-item">
                  <a href="#"><span class="step-no bg-grey">4</span></a><br>
                  <span class="step-name">INSTALLATION</span>
                </li>
                <li class="step-item">
                  <a href="#"><span class="step-no bg-grey">5</span></a><br>
                  <span class="step-name">INSPECTION</span>
                </li>
                <li class="step-item">
                  <a href="#"><span class="step-no bg-grey">6</span></a><br>
                  <span class="step-name">PTO</span>
                </li>
              </ul>
              <div class="bg-light border p-2">
                <div class="row align-items-center">
                  <div class="col-md-4"><b>Work Order:</b>  00012118   &nbsp;&nbsp; | &nbsp;&nbsp;  <b>Work Order Date:</b>  6/15/2020</div>
                  <div class="col-md-4"><b>Status:</b>  In-progress &nbsp;&nbsp; | &nbsp;&nbsp; <b>Sub Status:</b>  HOA &nbsp;&nbsp; | &nbsp;&nbsp; <b>3 Days</b></div>
                  <div class="col-md-4 text-right"><a href="#" class="btn btn-primary text-right">Update Status</a></div>
                </div>
              </div>
            </div>

            <div class="p-3 bg-white border mt-3">
              <div class="row">
                <div class="col-md-9">
                  <div class="detail-con">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-4 mb-2">Lead Status:</div>
                          <div class="col-8 mb-2"><b>Appointment Set</b></div>
                          <div class="col-4 mb-2">Created On:</div>
                          <div class="col-8 mb-2"><b>July 07, 2020</b></div>
                          <div class="col-4 mb-2">Amount:</div>
                          <div class="col-8 mb-2"><b>$25,625,05</b></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-4 mb-2">Created by:</div>
                          <div class="col-8 mb-2"><b>Hector Campus</b></div>
                          <div class="col-4 mb-2">Close Date:</div>
                          <div class="col-8 mb-2"><b>08/05/2020, 11:00 AM</b></div>
                          <div class="col-4 mb-2">Location:</div>
                          <div class="col-8 mb-2 text-light-blue"><b>22230 NE 31st Sammamsh WA 98074</b></div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-12 mt-4">
                      <a href="#" class="btn light-blue-btn mr-3 mb-2"><i class="fas fa-external-link-alt mr-2"></i> View Portal</a>
                      <a href="#" class="btn call-color-btn mr-3 mb-2"><i class="fas fa-phone-alt mr-2"></i> Call</a>
                      <a href="#" class="btn email-color-btn mr-3 mb-2"><i class="fas fa-envelope mr-2"></i> Email</a>
                      <a href="#" class="btn sms-color-button mr-3 mb-2"><i class="fas fa-comment-dots mr-2"></i> SMS</a>
                      <a href="#" class="btn chat-color-button mr-3 mb-2"><i class="far fa-comments mr-2"></i> Chat</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="../../../assets/images/map-detail.jpg" class="w-100" />
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-6">
                <div class="bg-white border h-100">
                  <h3 class="heading p-3 border-bottom">Lead Information <i class="fa fa-pencil ml-2"></i></h3>
                  <div class="detail-con px-3 py-2">
                    <div class="row">
                      <div class="col-6 mb-2"><b>Office:</b> Washington Inside Sales</div>
                      <div class="col-6 mb-2"><b>Sales Rep:</b> Hector Campas</div>
                      <div class="col-6 mb-2"><b>Setter:</b> Robin Haltbert</div>
                      <div class="col-6 mb-2"><b>Status:</b> Appointment Set</div>
                      <div class="col-6 mb-2"><b>Phone:</b> 555-1555-4568</div>
                      <div class="col-6 mb-2"><b>Email:</b> ---</div>
                      <div class="col-6 mb-2"><b>Created On:</b> Jul 07, 2020</div>
                      <div class="col-6 mb-2"><b>Created By:</b> Hector Campas</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="bg-white border h-100">
                  <h3 class="heading p-3 border-bottom">Notice & Activities</h3>
                  <div class="p-3">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="note-block">
                          <span class="note-plus"><i class="feather-plus"></i></span> <span class="note-user"><i class="fa fa-user"></i></span> <span class="note-col">You</span> Master Work Order
                          <span class="float-right">7/5/2020 05:51</span>
                        </div>
                        <div class="note-block">
                          <span class="note-plus"><i class="feather-plus"></i></span> <span class="note-user"><i class="fa fa-user"></i></span> <span class="note-col">You</span> Site Survey
                          <span class="float-right">7/5/2020 05:51</span>
                        </div>
                        <div class="note-block">
                          <span class="note-plus"><i class="feather-plus"></i></span> <span class="note-user"><i class="fa fa-user"></i></span> <span class="note-col">You</span> Post Install Work
                          <span class="float-right">7/5/2020 05:51</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row mt-3">
               <div class="col-md-12">
                 <div class="bg-white p-3 border">
                   <div id="accordion">
                     <div class="card">
                       <div class="card-header">
                         <a class="card-link" data-toggle="collapse" href="#collapseOne" aria-expanded="true">
                           <i class="feather-plus-square open-d pr-2" aria-hidden="true"></i><i class="fa fa-minus-square close-d pr-2" aria-hidden="true"></i>Proposal Design Information<span class="text-danger">*</span>
                         </a>
                       </div>
                       <div id="collapseOne" class="collapse" data-parent="#accordion" style="">
                         <div class="card-body">
                           Coming Soon
                         </div>
                       </div>
                     </div>

                     <div class="card">
                       <div class="card-header">
                         <a class="card-link" data-toggle="collapse" href="#collapse2" aria-expanded="true">
                           <i class="feather-plus-square open-d pr-2" aria-hidden="true"></i><i class="fa fa-minus-square close-d pr-2" aria-hidden="true"></i>Additional Information
                         </a>
                       </div>
                       <div id="collapse2" class="collapse" data-parent="#accordion" style="">
                         <div class="card-body">
                           Coming Soon
                         </div>
                       </div>
                     </div>

                     <div class="card">
                       <div class="card-header">
                         <a class="card-link" data-toggle="collapse" href="#collapse3">
                           <i class="feather-plus-square open-d pr-2" aria-hidden="true"></i><i class="fa fa-minus-square close-d pr-2" aria-hidden="true"></i>Verifications
                         </a>
                       </div>
                       <div id="collapse3" class="collapse" data-parent="#accordion">
                         <div class="card-body">
                           Coming Soon
                         </div>
                       </div>
                     </div>

                     <div class="card">
                       <div class="card-header">
                         <a class="card-link" data-toggle="collapse" href="#collapse4">
                           <i class="feather-plus-square open-d pr-2" aria-hidden="true"></i><i class="fa fa-minus-square close-d pr-2" aria-hidden="true"></i>Qualifying Questions
                         </a>
                       </div>
                       <div id="collapse4" class="collapse" data-parent="#accordion">
                         <div class="card-body">
                           Coming Soon
                         </div>
                       </div>
                     </div>

                     <div class="card">
                       <div class="card-header">
                         <a class="card-link" data-toggle="collapse" href="#collapse5">
                           <i class="feather-plus-square open-d pr-2" aria-hidden="true"></i><i class="fa fa-minus-square close-d pr-2" aria-hidden="true"></i>File Upload
                         </a>
                       </div>
                       <div id="collapse5" class="collapse" data-parent="#accordion">
                         <div class="card-body">
                           Coming Soon
                         </div>
                       </div>
                     </div>

                   </div>

                 </div>
                 </div>
            </div>



            <div class="row mt-3">
              <div class="col-md-6">
                <div class="bg-white border h-100">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Contract</th>
                          <th class="text-center">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="#">Solgen SF Power Contract: 07/02/2020</a></td>
                          <td align="center"><a href="#" class="text-success mx-1"><i class="fa fa-pencil"></i></a></td>
                        </tr>
                        <tr>
                          <td><a href="#" class="text-gray">Solgen SF Power Contract: 07/02/2020</a></td>
                          <td align="center"><a href="#" class="text-gray mx-1"><i class="fa fa-pencil"></i></a></td>
                        </tr>
                        <tr>
                          <td><a href="#" class="text-gray">Solgen SF Power Contract: 07/02/2020</a></td>
                          <td align="center"><a href="#" class="text-gray mx-1"><i class="fa fa-pencil"></i></a></td>
                        </tr>
                        <tr>
                          <td><a href="#" class="text-gray">Solgen SF Power Contract: 07/02/2020</a></td>
                          <td align="center"><a href="#" class="text-gray mx-1"><i class="fa fa-pencil"></i></a></td>
                        </tr>
                        <tr>
                          <td><a href="#" class="text-gray">Solgen SF Power Contract: 07/02/2020</a></td>
                          <td align="center"><a href="#" class="text-gray mx-1"><i class="fa fa-pencil"></i></a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="bg-white border h-100">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th width="690">Task</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Install New Panel</td>
                          <td>Pending</td>
                        </tr>
                        <tr>
                          <td>Change Tubebulb</td>
                          <td>Pending</td>
                        </tr>
                        <tr>
                          <td>Install New Panel</td>
                          <td>Pending</td>
                        </tr>
                        <tr>
                          <td>Battery Change</td>
                          <td>Pending</td>
                        </tr>                       
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-12 text-right border-top py-3">
                    <a href="#" class="btn btn-primary">Add New</a>
                  </div>
                </div>
              </div>
            </div>


            <div class="p-3 bg-white border mt-3">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Upcoming Appointments</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Past Appointments</a>
                </li>
                
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Appointments</th>
                          <th class="text-center">Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Client Meetings</td>
                          <td align="center">07/01/2020, 08:00 AM</td>
                        </tr>
                        <tr>
                          <td>Site Visit</td>
                          <td align="center">07/01/2020, 12:50 PM </td>
                        </tr>
                        <tr>
                          <td>Post Install Work</td>
                          <td align="center">07/01/2020, 04:00 AM</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-12 text-right border-top py-3">
                    <a href="#" class="btn btn-primary">Add New</a>
                  </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Appointments</th>
                          <th class="text-center">Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Client Meetings</td>
                          <td align="center">07/01/2020, 08:00 AM</td>
                        </tr>
                        <tr>
                          <td>Site Visit</td>
                          <td align="center">07/01/2020, 12:50 PM </td>
                        </tr>
                        <tr>
                          <td>Post Install Work</td>
                          <td align="center">07/01/2020, 04:00 AM</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-12 text-right border-top py-3">
                    <a href="#" class="btn btn-primary">Add New</a>
                  </div>
                </div>               
              </div>

            </div> 
            </div>
          </div>
            </div>
          </div>
        </div> 
  </section>
</section>
