<div class="header float-left w-100 mb-2">
  <h2 class="float-left pr-2"><strong>Tracker</strong></h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="/">CRM</a></li>
      <li class="active">Tracker</li>
    </ol>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-lg-12 portlets">
    <div class="panel">
      <div class="panel-header border-bottom pb-3">
        <div class="row mt-2">
          <div class="col-md-12">
            <div class="row searchfield  mr-1 w-100">
              <div class="col-md-4 float-left">
                <input value="" class="form-control" type="text" placeholder="Search by Install">
              </div>
              <div class="col-md-8 float-left">
                <a class="btn btn-success form-btns mr-1" href="javascript:void(0);" ><span><i class="feather-search"></i> Search</span></a>
                <a class="btn btn-danger form-btns mr-2" href="javascript:void(0);"><span><i class="fa fa-refresh"></i> Reset</span></a>
                <a class="btn btn-white mr-1" href="javascript:void(0);"><span><i class="fa fa-filter"></i> Filter</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-lg-12 portlets">
    <div class="panel">
      <div class="panel-content" style="min-height:100px">
        <div class="row">
          <div class="col-md-3">
            <div class="border trackerb h-100">
              <div class="detail-heading cust_infobx p-3 d-flex">
                <i class="fa icon fa-user mr-2"></i>
                <div class="cust_name"><a [routerLink]="['/Tracker/Detail']">Ashlay kelly</a><br><span>(Customer)</span></div>
                <a href="#" class="edit"><i class="fa fa-pencil text-info"></i></a>
              </div>
              <div class="detail-con px-3 py-2">
                <div class="pb-1">
                  <div class="row">
                    <div class="col-4 mb-2">Mobile:</div>
                    <div class="col-8 mb-2"><b>(509)-143-4568</b></div>
                    <div class="col-4 mb-2">Email:</div>
                    <div class="col-8 mb-2"><b>dkelly@gmail.com</b></div>
                    <div class="col-4 mb-2">Added:</div>
                    <div class="col-8 mb-2"><b>June-06-2020</b></div>
                  </div>
                </div>
                <hr class="mt-2" />
                <div class="row w-100">
                  <div class="col-12 my-2 justify-content-sm-between d-flex">
                    <span class="call-color text-center"><i class="fa fa-phone"></i> <br>Call</span> <span class="email-color text-center"><i class="fa fa-envelope"></i> <br>Email</span> <span class="sms-color text-center"><i class="fa fa-commenting-o"></i> <br>SMS</span> <span class="chat-color text-center"><i class="fa fa-comment-o"></i> <br>Chat</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <div class="border trackerb h-100">
                  <div class="detail-heading cust_infobx p-3 d-flex">
                    <i class="fa icon fa-user mr-2"></i>
                    <div class="cust_name">Hyden Creane<br><span>(Sales Rep)</span></div>
                  </div>
                  <div class="detail-con px-3 py-2">
                    <div class="row">
                      <div class="col-4 mb-2">Mobile:</div>
                      <div class="col-8 mb-2"><b>(630)-716-1091</b></div>
                      <div class="col-4 mb-2">Email:</div>
                      <div class="col-8 mb-2"><b> hc@solgenpower.com</b></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="border trackerb h-100">
                  <div class="detail-heading cust_infobx p-3 d-flex">
                    <i class="fa icon fa-building mr-2"></i>
                    <div class="cust_name">Solgen Power<br><span>(Company)</span></div>
                  </div>
                  <div class="detail-con px-3 py-2">
                    <div class="row">
                      <div class="col-4 mb-2">Mobile:</div>
                      <div class="col-8 mb-2"><b>(630)-716-1091</b></div>
                      <div class="col-4 mb-2">Email:</div>
                      <div class="col-8 mb-2"><b> hc@solgenpower.com</b></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mt-3">
                <div class="border trackerb h-100">
                  <div class="detail-heading cust_infobx p-3 d-flex">
                    <i class="fa fa-address-card-o mr-2"></i><div class="cust_name">Summary</div> <small>Loan App #: 0025642</small>
                  </div>
                  <div class="detail-con px-3 py-2">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-4 mb-2">Size:</div>
                          <div class="col-8 mb-2"><b>12KW</b></div>
                          <div class="col-4 mb-2">Cost:</div>
                          <div class="col-8 mb-2"><b>$25,000</b></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-4 mb-2">Financing:</div>
                          <div class="col-8 mb-2"><b>LoanPal</b></div>
                          <div class="col-4 mb-2">Rate:</div>
                          <div class="col-8 mb-2"><b>2.99% - 25yrs</b></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="mapbx mb-3"><img class="img-fluid" src="assets/images/map.jpg" alt="map"></div>
            <div class="mapinfo d-flex">
              <a href="#" class="btn btn-success mr-1"><i class="fa fa-file-text"></i> Proposal</a>
              <a href="#" class="btn btn-blue mr-1 text-white"><i class="fa fa-file-pdf-o"></i> Agreement</a>
              <a href="#" class="btn btn-secondary"><i class="fa fa-list"></i> Tasks</a>
            </div>
          </div>
          <div class="col-12 mt-4">
            <div class="tab_container tab-style timeline">
              <div class="responsive-tabs-container accordion-xs accordion-sm">
                <ul class="nav nav-tabs all-tabs responsive-tabs w-100">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Sales">Sales <i class="feather-check-square-o ml-2 text-success"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Financing">Financing <i class="feather-check-square-o ml-2 text-success"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Operations">Operations <i class="feather-check-square-o ml-2 text-success"></i></a>
                  </li>
                </ul>
                <div class="tab-content">
                  <a class="nav-link active accordion-link first" data-toggle="tab" href="#Sales"></a>
                  <div id="Sales" class=" tab-pane active  p-0">
                    <div class="container-fluid p-0 ">
                      <ul class="step d-flex">
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-success"><i class="feather-check"></i></span></a><br>
                          <span class="step-name">SITE SURVEY</span>
                          <span class="step-date">6/10/2020 (3 Days)</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-success"><i class="feather-check"></i></span></a><br>
                          <span class="step-name">ENGINEERING</span>
                          <span class="step-date">6/14/2020 (5 Days)</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-dark">3</span></a><br>
                          <span class="step-name">ICP</span>
                          <span class="step-date">6/19/2020 (In-Progress)</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-grey">4</span></a><br>
                          <span class="step-name">INSTALLATION</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-grey">5</span></a><br>
                          <span class="step-name">INSPECTION</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-grey">6</span></a><br>
                          <span class="step-name">PTO</span>
                        </li>
                      </ul>
                      <div class="bg-light border-top p-3">
                        <div class="row align-items-center">
                          <div class="col-md-4"><b>Work Order:</b>  00012118   &nbsp;&nbsp;| &nbsp;&nbsp;  <b>Work Order Date:</b>  6/15/2020</div>
                          <div class="col-md-4"><b>Status:</b>  In-progress (2 Days)</div>
                          <div class="col-md-4 text-right"><a href="#" class="btn btn-success text-right">Update Status</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="nav-link accordion-link" data-toggle="tab" href="#Financing"></a>
                  <div id="Financing" class=" tab-pane  p-0">
                    <div class="container-fluid p-0">
                      <ul class="step d-flex">
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-success"><i class="feather-check"></i></span></a><br>
                          <span class="step-name">SITE SURVEY</span>
                          <span class="step-date">6/10/2020 (3 Days)</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-success"><i class="feather-check"></i></span></a><br>
                          <span class="step-name">ENGINEERING</span>
                          <span class="step-date">6/14/2020 (5 Days)</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-dark">3</span></a><br>
                          <span class="step-name">ICP</span>
                          <span class="step-date">6/19/2020 (In-Progress)</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-grey">4</span></a><br>
                          <span class="step-name">INSTALLATION</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-grey">5</span></a><br>
                          <span class="step-name">INSPECTION</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-grey">6</span></a><br>
                          <span class="step-name">PTO</span>
                        </li>
                      </ul>
                      <div class="bg-light border-top p-3">
                        <div class="row align-items-center">
                          <div class="col-md-4"><b>Work Order:</b>  00012118   &nbsp;&nbsp;| &nbsp;&nbsp;  <b>Work Order Date:</b>  6/15/2020</div>
                          <div class="col-md-4"><b>Status:</b>  In-progress (2 Days)</div>
                          <div class="col-md-4 text-right"><a href="#" class="btn btn-success text-right">Update Status</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="nav-link accordion-link" data-toggle="tab" href="#Operations"></a>
                  <div id="Operations" class=" tab-pane p-0">
                    <div class="container-fluid p-0">
                      <ul class="step d-flex">
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-success"><i class="feather-check"></i></span></a><br>
                          <span class="step-name">SITE SURVEY</span>
                          <span class="step-date">6/10/2020 (3 Days)</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-success"><i class="feather-check"></i></span></a><br>
                          <span class="step-name">ENGINEERING</span>
                          <span class="step-date">6/14/2020 (5 Days)</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-dark">3</span></a><br>
                          <span class="step-name">ICP</span>
                          <span class="step-date">6/19/2020 (In-Progress)</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-grey">4</span></a><br>
                          <span class="step-name">INSTALLATION</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-grey">5</span></a><br>
                          <span class="step-name">INSPECTION</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-grey">6</span></a><br>
                          <span class="step-name">PTO</span>
                        </li>
                      </ul>
                      <div class="bg-light border-top p-3">
                        <div class="row align-items-center">
                          <div class="col-md-4"><b>Work Order:</b>  00012118   &nbsp;&nbsp;| &nbsp;&nbsp;  <b>Work Order Date:</b>  6/15/2020</div>
                          <div class="col-md-4"><b>Status:</b>  In-progress (2 Days)</div>
                          <div class="col-md-4 text-right"><a href="#" class="btn btn-success text-right">Update Status</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 portlets">
    <div class="panel">
      <div class="panel-content" style="min-height:100px">
        <div class="row">
          <div class="col-md-3">
            <div class="border trackerb h-100">
              <div class="detail-heading cust_infobx p-3 d-flex">
                <i class="fa icon fa-user mr-2"></i>
                <div class="cust_name"><a [routerLink]="['/Tracker/Detail']">Ashlay kelly</a><br><span>(Customer)</span></div>
                <a href="#" class="edit"><i class="fa fa-pencil text-info"></i></a>
              </div>
              <div class="detail-con px-3 py-2">
                <div class="pb-1">
                  <div class="row">
                    <div class="col-4 mb-2">Mobile:</div>
                    <div class="col-8 mb-2"><b>(509)-143-4568</b></div>
                    <div class="col-4 mb-2">Email:</div>
                    <div class="col-8 mb-2"><b>dkelly@gmail.com</b></div>
                    <div class="col-4 mb-2">Added:</div>
                    <div class="col-8 mb-2"><b>June-06-2020</b></div>
                  </div>
                </div>
                <hr class="mt-2" />
                <div class="row w-100">
                  <div class="col-12 my-2 justify-content-sm-between d-flex">
                    <span class="call-color text-center"><i class="fa fa-phone"></i> <br>Call</span> <span class="email-color text-center"><i class="fa fa-envelope"></i> <br>Email</span> <span class="sms-color text-center"><i class="fa fa-commenting-o"></i> <br>SMS</span> <span class="chat-color text-center"><i class="fa fa-comment-o"></i> <br>Chat</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <div class="border trackerb h-100">
                  <div class="detail-heading cust_infobx p-3 d-flex">
                    <i class="fa icon fa-user mr-2"></i>
                    <div class="cust_name">Hyden Creane<br><span>(Sales Rep)</span></div>
                  </div>
                  <div class="detail-con px-3 py-2">
                    <div class="row">
                      <div class="col-4 mb-2">Mobile:</div>
                      <div class="col-8 mb-2"><b>(630)-716-1091</b></div>
                      <div class="col-4 mb-2">Email:</div>
                      <div class="col-8 mb-2"><b> hc@solgenpower.com</b></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="border trackerb h-100">
                  <div class="detail-heading cust_infobx p-3 d-flex">
                    <i class="fa icon fa-building mr-2"></i>
                    <div class="cust_name">Solgen Power<br><span>(Company)</span></div>
                  </div>
                  <div class="detail-con px-3 py-2">
                    <div class="row">
                      <div class="col-4 mb-2">Mobile:</div>
                      <div class="col-8 mb-2"><b>(630)-716-1091</b></div>
                      <div class="col-4 mb-2">Email:</div>
                      <div class="col-8 mb-2"><b> hc@solgenpower.com</b></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mt-3">
                <div class="border trackerb h-100">
                  <div class="detail-heading cust_infobx p-3 d-flex">
                    <i class="fa fa-address-card-o mr-2"></i><div class="cust_name">Summary</div> <small>Loan App #: 0025642</small>
                  </div>
                  <div class="detail-con px-3 py-2">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-4 mb-2">Size:</div>
                          <div class="col-8 mb-2"><b>12KW</b></div>
                          <div class="col-4 mb-2">Cost:</div>
                          <div class="col-8 mb-2"><b>$25,000</b></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-4 mb-2">Financing:</div>
                          <div class="col-8 mb-2"><b>LoanPal</b></div>
                          <div class="col-4 mb-2">Rate:</div>
                          <div class="col-8 mb-2"><b>2.99% - 25yrs</b></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="mapbx mb-3"><img class="img-fluid" src="assets/images/map.jpg" alt="map"></div>
            <div class="mapinfo d-flex">
              <a href="#" class="btn btn-success mr-1"><i class="fa fa-file-text"></i> Proposal</a>
              <a href="#" class="btn btn-blue mr-1 text-white"><i class="fa fa-file-pdf-o"></i> Agreement</a>
              <a href="#" class="btn btn-secondary"><i class="fa fa-list"></i> Tasks</a>
            </div>
          </div>
          <div class="col-12 mt-4">
            <div class="tab_container tab-style timeline">
              <div class="responsive-tabs-container accordion-xs accordion-sm">
                <ul class="nav nav-tabs all-tabs responsive-tabs w-100">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Sales">Sales <i class="feather-check-square-o ml-2 text-success"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Financing">Financing <i class="feather-check-square-o ml-2 text-success"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Operations">Operations <i class="feather-check-square-o ml-2 text-success"></i></a>
                  </li>
                </ul>
                <div class="tab-content">
                  <a class="nav-link active accordion-link first" data-toggle="tab" href="#Sales"></a>
                  <div id="Sales" class=" tab-pane active  p-0">
                    <div class="container-fluid p-0 ">
                      <ul class="step d-flex">
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-success"><i class="feather-check"></i></span></a><br>
                          <span class="step-name">SITE SURVEY</span>
                          <span class="step-date">6/10/2020 (3 Days)</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-success"><i class="feather-check"></i></span></a><br>
                          <span class="step-name">ENGINEERING</span>
                          <span class="step-date">6/14/2020 (5 Days)</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-dark">3</span></a><br>
                          <span class="step-name">ICP</span>
                          <span class="step-date">6/19/2020 (In-Progress)</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-grey">4</span></a><br>
                          <span class="step-name">INSTALLATION</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-grey">5</span></a><br>
                          <span class="step-name">INSPECTION</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-grey">6</span></a><br>
                          <span class="step-name">PTO</span>
                        </li>
                      </ul>
                      <div class="bg-light border-top p-3">
                        <div class="row align-items-center">
                          <div class="col-md-4"><b>Work Order:</b>  00012118   &nbsp;&nbsp;| &nbsp;&nbsp;  <b>Work Order Date:</b>  6/15/2020</div>
                          <div class="col-md-4"><b>Status:</b>  In-progress (2 Days)</div>
                          <div class="col-md-4 text-right"><a href="#" class="btn btn-success text-right">Update Status</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="nav-link accordion-link" data-toggle="tab" href="#Financing"></a>
                  <div id="Financing" class=" tab-pane  p-0">
                    <div class="container-fluid p-0">
                      <ul class="step d-flex">
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-success"><i class="feather-check"></i></span></a><br>
                          <span class="step-name">SITE SURVEY</span>
                          <span class="step-date">6/10/2020 (3 Days)</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-success"><i class="feather-check"></i></span></a><br>
                          <span class="step-name">ENGINEERING</span>
                          <span class="step-date">6/14/2020 (5 Days)</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-dark">3</span></a><br>
                          <span class="step-name">ICP</span>
                          <span class="step-date">6/19/2020 (In-Progress)</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-grey">4</span></a><br>
                          <span class="step-name">INSTALLATION</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-grey">5</span></a><br>
                          <span class="step-name">INSPECTION</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-grey">6</span></a><br>
                          <span class="step-name">PTO</span>
                        </li>
                      </ul>
                      <div class="bg-light border-top p-3">
                        <div class="row align-items-center">
                          <div class="col-md-4"><b>Work Order:</b>  00012118   &nbsp;&nbsp;| &nbsp;&nbsp;  <b>Work Order Date:</b>  6/15/2020</div>
                          <div class="col-md-4"><b>Status:</b>  In-progress (2 Days)</div>
                          <div class="col-md-4 text-right"><a href="#" class="btn btn-success text-right">Update Status</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="nav-link accordion-link" data-toggle="tab" href="#Operations"></a>
                  <div id="Operations" class=" tab-pane p-0">
                    <div class="container-fluid p-0">
                      <ul class="step d-flex">
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-success"><i class="feather-check"></i></span></a><br>
                          <span class="step-name">SITE SURVEY</span>
                          <span class="step-date">6/10/2020 (3 Days)</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-success"><i class="feather-check"></i></span></a><br>
                          <span class="step-name">ENGINEERING</span>
                          <span class="step-date">6/14/2020 (5 Days)</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-dark">3</span></a><br>
                          <span class="step-name">ICP</span>
                          <span class="step-date">6/19/2020 (In-Progress)</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-grey">4</span></a><br>
                          <span class="step-name">INSTALLATION</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-grey">5</span></a><br>
                          <span class="step-name">INSPECTION</span>
                        </li>
                        <li class="step-item">
                          <a href="#"><span class="step-no bg-grey">6</span></a><br>
                          <span class="step-name">PTO</span>
                        </li>
                      </ul>
                      <div class="bg-light border-top p-3">
                        <div class="row align-items-center">
                          <div class="col-md-4"><b>Work Order:</b>  00012118   &nbsp;&nbsp;| &nbsp;&nbsp;  <b>Work Order Date:</b>  6/15/2020</div>
                          <div class="col-md-4"><b>Status:</b>  In-progress (2 Days)</div>
                          <div class="col-md-4 text-right"><a href="#" class="btn btn-success text-right">Update Status</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
