<app-loader [size]=60 [color]="'white'" *ngIf="loadSave" class="loader-popup"></app-loader>
<app-breadcrumb *ngIf="!loadSave"  [data]="contentHeader"></app-breadcrumb>
<!-- <div class="header float-left w-100 mb-2">
  <h2 class="float-left pr-2"><strong>Service Territory Details</strong></h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a class="smview" routerLink="/dashboard">Dashboard</a></li>
      <li><a class="smview" routerLink="/serviceterritory">Manage Service Territory</a></li>
      <li class="active">Service Territory Details</li>
    </ol>
  </div>

</div> -->
<div class="clearfix"></div>
<div class="card border-0">
  <div class="panel">
    <div class="row">
      <div class="col-lg-12 mt-3 border-bottom">
        <div class="col-sm-12 col-md-12 text-right pr-4 mb-3">
          <a  [routerLink]="['/serviceterritory/editserviceterritory/',Id]" class="btn btn-success mr-2"><i class="feather-edit-2 mr-1"></i> Edit</a>
          <a href="javascript:void(0);" class="btn btn-dark text-white" (click)="close()"><i class="feather-arrow-left mr-1"></i> Back</a>
        </div>
      </div>
      <div class="col-lg-12 pt-3">
        <div class="panel-content border-0 w-100 bg-white p-2 px-3 scroll-in-content">
          <div class="row">

            <div class="col-sm-12 col-lg-12">
              <h3 class="form-heading mt-0"><span>Details</span></h3>
              <div id="accordion" [ngClass]="{'disabled':loadSave}">
                <form [formGroup]="form" *ngIf="form">
                  <ng-container *ngFor="let item of formControlList">
                    <div class="panel active">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a href="#{{item.group_display_name}}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">
                            <span> {{item.group_name}}</span>
                          </a>
                        </h4>
                      </div>
                      <div id="{{item.group_display_name}}" class="panel-collapse collapse active show" style="">
                        <div class="panel-body row px-0 mt-0">
                          <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let inner of item.InnerData;">
                            <div class="input-group border-bottom">
                              <div class="col-sm-12 col-md-6 px-0">
                                <span class="py-2 d-block"><strong>{{ inner.display_name}}:</strong></span>
                              </div>
                              <div class="col-sm-12 col-md-6">
                                <span *ngIf="inner.value!=null && inner.dt_code!='checkbox' && inner.dt_code!='boolean'" class="py-2 d-block">{{ inner.value}}</span>
                                
                                <!--============================== For CheckBox ===========================-->
                                <input class="mt-2 input-group-text bg-white border-0 font-weight-bold" style="font-size:14px"
                                      type="checkbox" *ngIf="inner.dt_code=='boolean'" [formControlName]="inner.form_controlName" disabled>
                              </div>

                            </div>
                          </div>



                        </div>
                      </div>
                    </div>
                  </ng-container>


                </form>
              </div>
            </div>
            <!-- <div class="col-sm-12 col-lg-4">
              <h3 class="form-heading mt-0"><span>Related</span></h3>
              <div id="accordion" [ngClass]="{'disabled':loadSave}">
                <div class="panel active">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#LeadSMSs" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">
                        <span>
                          Locations
                        </span>
                      </a>
                    </h4>
                  </div>
                  <div id="LeadSMSs" class="panel-collapse collapse active show" style="">
                    <div class="panel-body row px-0 mt-0">
                      <div class="text-center w-100">No Record Found</div>
                    </div>
                  </div>
                </div>

                <div class="panel active">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#Notes" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">
                        <span> Notes</span>
                      </a>
                    </h4>
                  </div>
                  <div id="Notes" class="panel-collapse collapse active show" style="">
                    <div class="panel-body row px-0">
                      <div class="text-center w-100">No Record Found</div>
                    </div>
                  </div>
                </div>

                <div class="panel active">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#Files" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">
                        <span> Files</span>
                      </a>
                    </h4>
                  </div>
                  <div id="Files" class="panel-collapse collapse active show" style="">
                    <div class="panel-body row px-0 mt-0">
                      <div class="text-center w-100">No Record Found</div>
                    </div>
                  </div>
                </div>
              </div>

            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
